[2018-06-12 07:06] amazingrobie commented on #213
Did not find anything in Console app.

Below is what was received from Terminal command and its still situation after revoking/granting access and rebooting.

Can we have a direct link to the previous version of Keka to reinstall? We've been using it pretty heavily as of late and this having to repeatedly give access each time is really inhibiting workflow. Unfortunately, we already deleted the on

[2018-06-12 07:10] aonez commented on #213
Sure, you can always get older versions in the [releases](https://github.com/aonez/Keka/releases) section or in the [legacy](https://www.keka.io/en/#legacy) section. Here the one you want: http://legacy.keka.io/lion

[2018-06-12 07:11] amazingrobie commented on #213
Thanks.

[2018-06-12 07:14] aonez commented on #213
If you will keep trying to solve this, please [activate the default verbose](https://github.com/aonez/Keka/wiki/Console-verbose#default) mode and let me know what the Console.app says. This will help a lot.

Thanks and very sorry for the issue @amazingrobie.

[2018-06-12 07:20] amazingrobie commented on #213
When we get some time. Will try. Working on projects pretty steadily and right now, it's the middle of the night and I should be sleeping. :(

[2018-06-12 07:57] aonez commented on #213
Sure @amazingrobie, when you find the time. Here a test version that might fix this or at least give some more information (in the Console.app): [Keka-1.1.0r2729.zip](https://github.com/aonez/Keka/files/2093054/Keka-1.1.0r2729.zip)

Also removing the Keka preferences might help: `rm -R ~/Library/Containers/com.aone.keka`

Hope you can go to sleep very soon :)

[2018-06-12 07:59] aonez commented on #208
@Eakster did it solved?

Here another version (from #213) that might have this fixed: [Keka-1.1.0r2729.zip](https://github.com/aonez/Keka/files/2093054/Keka-1.1.0r2729.zip)

[2018-06-12 08:07] aonez commented on #210
thanks @jihoongks!

[2018-06-12 09:23] aonez opened #214 "Option to repair when extraction fails"
If available, give the option to repair the file.

[2018-06-12 23:22] gingerbeardman commented on #153
Hahaha.

[2018-06-13 04:06] maxsky commented on #210
I personally prefer to use a space between Chinese and English. I think this is a good habit for me and many developers. 💯

[2018-06-13 05:39] aonez commented on #153
ok ok!

[2018-06-13 12:50] petergi commented on #213
Hi this latest version of keka seems broken on High Sierra. I've never had ANY issues with Keka before and have recommended it and even purchased it for my employees.
But this version is soooooo exasperating. It continuously asks for file permissions. Doesn't remember settings... and worst of all can't DECOMPRESS anything. When I try it gives IO errors and then DELETES the zip/rar/whatever permane

[2018-06-13 13:30] aonez commented on #213
@petergi (and @amazingrobie) I found a bug that did not removed a bad access bookmark, meaning that If for any reason Keka needed to ask permission again, was not saving that new access, so each time was asking for it. I'm updating this ASAP.

The version posted above ([Keka-1.1.0r2729.zip](https://github.com/aonez/Keka/files/2093054/Keka-1.1.0r2729.zip) has this fixed.

[2018-06-14 03:51] chinnnki commented on #210
Thanks for the clarification!

I personally prefer spaces between Latin and CJK characters too.
However, rationally I think text spacing should be handled by OS's built-in mechanism (like the one in the upcoming CSS Text Module Level 4), rather than manually inserted spaces, which is only a workaround for better typography.

However, since Chinese and Korean stay with spaces, I think it's okay for

[2018-06-14 17:11] NosillaCast opened #215 "Unzipped applications appear to be created by Keka"
I just downloaded an app called "HashPhotos Transfer.app" as a zip archive. Since Keka is my default now, it opened the zip for me. When I opened the app though, I got the macOS Gatekeeper message "HashPhotos Transfer.app is an application created by Keka Are you sure you want to open it?"

I wouldn't think that's intended behavior?

<img width="420" alt="keka created app" src="https://user-images

[2018-06-14 17:28] aonez commented on #210
Then let's leave it with spaces for now, @chinnnki, but I'll be watching for further changes in Mojave and future releases, in case all adopt the no space strings. Thanks you all! :)

[2018-06-14 17:28] #210 closed

[2018-06-14 19:57] Stevedore9 opened #217 "Can no longer drag files to the Keka dock icon in v. 1.1.0"
I’ve been using Keka for many years and love it.  However, v. 1.1.0 no longer allows me to drag a file to the Keka dock icon.  When I do so, nothing happens — I must first open the Keka application, then drag my file to it.  I've had to go back to v. 1.0.16.

Using macOS 10.13.5.

[2018-06-14 20:37] #209 closed

[2018-06-14 20:37] #213 closed

[2018-06-14 21:05] aonez commented on #217
Can you try the just released 1.1.1 version? Maybe the bug there was the cause, but not sure.

[2018-06-14 21:20] Stevedore9 commented on #217
Yep, version 1.1.1 fixed the problem.  Thanks, aonez!

[2018-06-15 10:56] COOLIRON2311 opened #218 "No rar archive creation."
No rar archive creation on new versions of Keka (1.1.1)

[2018-06-15 13:35] gingerbeardman opened #219 "Typo in About dialog"
mantainer > ma**i**ntainer

[2018-06-15 21:06] 3zero2 commented on #120
I agree that this would be a great feature to have. Are there any plans to implement this please?

[2018-06-17 10:55] akrabu opened #220 "Check custom path availability"
Every time I try to create a zip file, I get "Error code 2 using "p7zip".  Fatal error."  I'm on v1.1.1 (2733).

[2018-06-17 10:57] akrabu commented on #220
Nevermind, I'm an idiot lol

I had a custom compress-to path that no longer exists...  🙄😅

[2018-06-17 11:08] KeLeBoR commented on #208
I have the same mistake. The last working version is 1.1.0-rc.1...

[2018-06-17 11:32] KeLeBoR commented on #208
Didn't fix the problem...

[2018-06-18 08:30] magitk commented on #84
+1 for **zpaq**

[2018-06-19 07:09] aonez commented on #219
Being there since 0.1.0-b1 in 2009 🤭

[2018-06-19 07:11] #219 closed

[2018-06-19 07:11] #217 closed

[2018-06-19 07:14] aonez commented on #218
The final 1.1.X version can't create RAR files. Sadly the method used is no sandbox friendly. You can still use the first release candidate for this purposes. I've reopened your first ticket #123. Hope there will be some way to achieve this in a sandbox environment.

[2018-06-19 07:14] #218 closed

[2018-06-19 07:17] aonez commented on #208
@KeLeBoR did you've tried the versions on this ticket?

- [Keka-1.1.0r2718](https://github.com/aonez/Keka/files/2081807/Keka-1.1.0r2718.zip)
- [Keka-1.1.0r2719](https://github.com/aonez/Keka/files/2081804/Keka-1.1.0r2719.zip)

Those versions create the file `Keka-log.log` in your desktop, please attach it here. Also, just in case, uninstall and reinstall Keka, downloading it again.

[2018-06-19 07:19] aonez commented on #220
I'm reopening this one since this can be fixed for the future:

- [ ] Check custom path availability
- [ ] If not available ask for destination

[2018-06-19 07:30] aonez commented on #180
Any news on this one, @seitsme?

[2018-06-19 07:32] aonez commented on #199
Closing in favorof #12.

[2018-06-19 07:32] #199 closed

[2018-06-19 13:08] seitsme opened #221 "progress"
i write here because i dont know where to find or reply a notification i assume was sent from keka regarding translation.

1 have 2 of xx files already done, will take some more time to continue with the rest as i need some more time to get involved with the other files.

[2018-06-19 13:33] akrabu commented on #220
Good idea, and thanks!  Looking forward to 1.2.0!  Especially the better queueing for compressing several things at once.  That's going to be a lifesaver!  😁👍

[2018-06-19 15:16] KeLeBoR commented on #208
[Keka-log2718.log](https://github.com/aonez/Keka/files/2115807/Keka-log2718.log)
[Keka-log2719.log](https://github.com/aonez/Keka/files/2115808/Keka-log2719.log)

Hi annex,
r2718 is working, r2719 gave me the same error...
i hope the logs will help you to remedy the "bug".

[2018-06-19 20:16] aonez commented on #221
Just write a comment here #180 😊

[2018-06-19 20:16] #221 closed

[2018-06-19 21:32] KeLeBoR commented on #208
@aonez yes i confirm r2718 work and r2719 didn't. Check it again. Try it in r2719 with the Terminal.app but nothing happen. i didn't have any special configuration in my machine (10.13.5 SSD APFS). and i also didn't have any trouble to give access to the disk. i try 1.1.1 again and install KekaDefaultApp v1.0.0-r.6 but it gave me again the error.

[2018-06-20 07:07] aonez commented on #208
@KeLeBoR this one has the same attribute as r2718: [Keka-1.1.1r2742](https://github.com/aonez/Keka/files/2118214/Keka-1.1.1r2742.zip)

Works too? No need to check the Terminal. Thanks again for the feedback :)

[2018-06-20 10:21] shoopdawoop opened #222 "Add disk access programmatically (Sandbox)"
Is there a way to do this?

[2018-06-20 10:41] gingerbeardman commented on #222
Not that I'm aware of.

The whole point is these the user has to interact to grant permissions so they're aware of the access the app has.

[2018-06-20 10:46] aonez commented on #222
@shoopdawoop as @gingerbeardman said there's no way, the user need to grant access. But it should be done just one time. You have any issue?

[2018-06-20 13:27] shoopdawoop commented on #222
I guess if it can't be done, it can't be done, so feel free to close this.

But imagine you are an administrator who wants to deploy Keka to a couple of hundred users via Jamf or Munki, you are going to have a bad time.

[2018-06-20 16:30] gingerbeardman commented on #222
@shoopdawoop in this instance can you not distribute the regular version rather than the MAS version? I assume only the MAS version had the sandbox access request?

[2018-06-20 18:06] KeLeBoR commented on #208
@aonez Works without any problem...The only thing that i must is install the KekaDefaultApp v1.0.0-r.6 to set Keka as default compressor/uncompressor. I like to give feedback so that errors can also be corrected :-)

[2018-06-20 18:09] robinalpha commented on #208
I have a similar problem. Keka was working perfectly fine until 1.1. Now everytime I try to decompress a file I have "L'extraction de _thefile_ a échoué. Code erreur 2 en utilisant "p7zip"
Erreur fatale"  (it's in french but I guess the translation is pretty obvious)

[2018-06-20 18:45] aonez commented on #208
@robinalpha did you tried the revision 2742 from two comments above?

[2018-06-20 19:00] shoopdawoop commented on #222
No, it was the regular version downloaded from keka.io and it was asking for disk access.

[2018-06-21 03:45] robinalpha commented on #208
Yes and it didn't help. But actually I realized that I only saw it happens with some kind of zips. For example no problems to unzip the keka2747 zip but doesn't work with another one that the native mac app unzip without issues..

[2018-06-21 07:36] gingerbeardman commented on #222
In that case I think it should not. what do you think @aonez ?

[2018-06-21 08:02] #204 closed

[2018-06-21 08:16] aonez commented on #208
@robinalpha then this is another issue, probably just affecting that file. Can you share it?

@KeLeBoR I don't understand what you mean with:

Sadly with sandbox Keka can't register as a default application itself, so it was getting rid of the functionality and button itself or finding a workaround, that was `KekaDefaultApp` extension. 😕

That is in fact what helps applications to grow 😃

[2018-06-21 09:01] shoopdawoop commented on #222
In my experience most users will at least be confused by the dialogue, possibly even suspecting malware trying to do something nasty.
Also, iirc, administrator credentials are needed to grant the permission, which many users in managed environments do not have, so this would mean lots of extra work for sysadmins.
If the granting permissions step could be done in an install script, that would be fi

[2018-06-21 09:59] aonez commented on #222
This is not needed, even for the Guest user.

The other point is true, and my biggest concern. About the script, the entitlements used when signing Keka can be modified and Keka re-signed. Just talking about theory, but one can even disable sandbox.

[2018-06-21 10:12] jodifu opened #223 "Keep the encryption password even if Keka is closed"
Hello Jorge,

this turned up to be an issue with a friend of mine: Is it possible to store the configured encryption password and its settings for the chosen file type even if Keka is closed? So that you don't have to re-enter it every time you want to create an encrypted archive?

Thx and best regards,
Jochen

[2018-06-21 13:12] robinalpha commented on #208
It's seems indeed that it is affecting this file and some other not but i can also note that it happened a number of times with different files since 1.1, so its not just this file. But here it is.
[PUBLICACIÓN_PROYECTO_DE_RESOLUCIÓN_MODIFICACIÓN_MANUAL_DE_COMPENSACIONES_ (1).zip](https://github.com/aonez/Keka/files/2123719/PUBLICACION_PROYECTO_DE_RESOLUCION_MODIFICACION_MANUAL_DE_COMPENSACIONES_.

[2018-06-21 19:06] KeLeBoR commented on #208
@aonez Ah ok...Now i unstandand the context of KekaDefaultApp. Thanks for explain. :-)

[2018-06-22 07:31] aonez commented on #208
@robinalpha the file linked extracted without a problem. Can you enable the [verbose output](https://github.com/aonez/Keka/wiki/Console-verbose) and let me know what it says?

[2018-06-22 07:35] aonez commented on #223
Hi @jodifu! Currently this is not possible, but it is something that will come in the future. I'm closing this one in favor of #26. Note the second point there (also asked on #118).

Salut Jochen!

[2018-06-22 07:35] #223 closed

[2018-06-22 15:45] robinalpha commented on #208
I'm not sure, do you mean this?

par défaut	10:42:48.059218 -0500	launchservicesd	CHECKIN:0x0-0x70b70b 25339 com.aone.keka
par défaut	10:42:48.105264 -0500	NowPlayingTouchUI	[NowPlayingTouchUI] Reloading available apps due to workspace activating an application: NSConcreteNotification 0x600000256230 {name = NSWorkspaceDidActivateApplicationNotification; object = <NSWorkspace: 0x604000001560>; user

[2018-06-22 15:50] aonez commented on #208
@robinalpha that's it thanks! It's strange because even in the logs it does not appear to be any problem...

[2018-06-22 15:54] robinalpha commented on #208
and at the same time..
<img width="399" alt="screen shot 2018-06-22 10 52 23 am" src="https://user-images.githubusercontent.com/15682080/41786250-a7cfbef0-760a-11e8-84d6-c1faf80958fc.png">

[2018-06-22 15:56] aonez commented on #208
Where are you trying to extract the file? Can you try in the Desktop?

[2018-06-22 15:58] robinalpha commented on #208
I'm doing it in my download folder. trying on the desktop didn't change anything.

[2018-06-22 16:04] aonez commented on #208
@robinalpha what format is in the "DATA" disk?

[2018-06-22 16:46] robinalpha commented on #208
APFS encrypted

[2018-06-22 21:09] aonez commented on #215
I'm fixing this one first, since it has some nasty effects: https://twitter.com/the_jannis/status/1010259254043955200

[2018-06-22 21:29] aonez commented on #215
@NosillaCast it did not affected me neither but the `xScope` package he shared reproduces the issue 😕

[2018-06-23 23:38] gingerbeardman opened #224 "App stays open after using "Compress using Keka" service"
**Process**
1. Keka is in my Dock
2. Keka is not open/running
3. use "Compress using Keka" service
4. Keka opens and compresses file

**Expected**
5. Keka quit after compression completion

**Actual**
5. Keka stays running

**Settings**
- _Close Keka when no windows are open_ is ON
![screen shot 2018-06-24 at 00 36 03](https://user-images.githubusercontent.com/49612/41814521-045d79e0-7747-11e8-815

[2018-06-24 03:05] khanhthietbi opened #225 "Delete package after decompression"
With single compressed package, Keka runs well to move the package to Trash after decompressing. However, with package that divided/separated into multiple parts, Keka just moved the first one to Trash and the rest still remain there. E.g. a.part1.rar, a.part2.rar, a.part3.rar -> only a.part1.rar is moved to Trash.

[2018-06-26 05:54] ydq commented on #170
@aonez  I think the default action of the `.war` files ( java web package format )  should be the same as the `.jar` file. Please fix it. Thanks!

[2018-06-26 07:01] aonez commented on #224
@gingerbeardman I can't reproduce this one. Can you remove the preferences and try again?

[code]

[2018-06-26 07:04] aonez commented on #225
@khanhthietbi what version of Keka are you using? This was fixed in 1.1.0 #8.

[2018-06-26 07:18] aonez commented on #170
Thanks for the tip @ydq! Added for the next revision 👍

[2018-06-26 07:56] aonez commented on #208
@robinalpha please activate the reader log, that will help to better understand the issue:

[code]

Hope we can find a solution for this problem :)

[2018-06-26 09:35] gingerbeardman commented on #224
OK, it seems that it takes a couple of seconds and it closes.

Oddly, after deleting the prefs the first launch showed me the old toolbar with the archive files across the top and the dropdown to the right.

[2018-06-26 09:43] #224 closed

[2018-06-26 09:43] gingerbeardman opened #226 "No read access to the user defaults on first launch"
`rm ~/Library/Containers/com.aone.keka/Data/Library/Preferences/com.aone.keka.plist`

Oddly, after deleting the prefs the first launch showed me the non-unified toolbar with the archive files across the top and the dropdown to the right, despite unified toolbar being the default option. And I had to regrant permission.

![screen shot 2018-06-26 at 10 40 33](https://user-images.githubusercontent.co

[2018-06-26 10:38] aonez commented on #224
Ah ok! This is a feature, Keka waits for the notification to close, so in case you click on it it can show in the finder the extraction/compression files. This is a 5 seconds wait.

[2018-06-26 10:41] aonez commented on #226
It’s possible you still have some of the RC or Betas in your machine?

[2018-06-26 11:15] gingerbeardman commented on #224
OK, it was not closing at all in my original issue.

But I'm happy now with this wait.

[2018-06-26 11:20] gingerbeardman commented on #226
I do not. I thought that and checked.

Just version 1.1.1 (2733)

Here's a video: https://youtu.be/uEh2hjS84AY

[2018-06-26 15:33] robinalpha commented on #208
I'm not sure where I'm supposed to read the log.. is it in the console? like this..?

par défaut	10:29:15.393403 -0500	launchservicesd	CHECKIN:0x0-0xe99e99 53459 com.aone.keka
par défaut	10:29:15.426472 -0500	NowPlayingTouchUI	[NowPlayingTouchUI] Reloading available apps due to workspace activating an application: NSConcreteNotification 0x6000004463c0 {name = NSWorkspaceDidActivateApplicationNotif

[2018-06-26 15:45] aonez commented on #208
@robinalpha yes that will be, but try to extract the file that's giving you the issue so it shows in the log. Thanks :)

[2018-06-26 15:49] robinalpha commented on #208
That’s what I did.. I tried again, twice, and here’s the result. But it doesn’t seem much, so maybe it’s not the right way to get the log..?

par défaut	10:46:36.451934 -0500	launchservicesd	CHECKIN:0x0-0xea6ea6 53731 com.aone.keka
par défaut	10:46:36.474545 -0500	NowPlayingTouchUI	[NowPlayingTouchUI] Reloading available apps due to workspace activating an application: NSConcreteNotification 0x600

[2018-06-26 15:49] aonez commented on #226
Reproduced it. Thanks @gingerbeardman!

[2018-06-26 15:52] aonez commented on #226
Here the problem:

[code]
[code]

Not sure why yet.

[2018-06-26 20:45] aonez commented on #208
@robinalpha I'll prepare another build that will post all logs on the desktop file, hopefully this will help :)

[2018-06-27 15:55] deyanm opened #227 "reCaptcha on forum have an error!"
When I try to register on the Keka forum, the reCaptcha is not working, and displaying error with domain:
[code]

[2018-06-28 07:00] anazhd commented on #225
Can confirm even on 1.1.1, Keka deleted all parts accordingly.

[2018-06-28 09:38] gingerbeardman commented on #227
I also see this.

[2018-06-28 09:39] gingerbeardman commented on #202
Any progress?

[2018-06-28 13:32] Rahzah opened #228 "Can’t shutdown after Keka installation."
After Keka is installed my Mac needs hours to shutdown or does not make it anyhow. Do you have any solution for this?

[2018-06-28 13:54] aonez commented on #228
Can’t you close Keka?

[2018-06-28 13:57] aonez commented on #202
Not yet

[2018-06-28 14:07] Rahzah commented on #228
Yes, Keka can be closed and I closed it. Right now I experimented uninstalling everything with AppCleaner. I got 3 Macs to maintain and after uninstall and reinstalling Keka 2 of 3 computers shut down again. The third one keeps struggling.

[2018-06-28 14:11] Rahzah commented on #228
I’ve got 1 Mac Pro, iMac both roundabout 2010 which shutdown with osx 10.11 and 10.10 and the struggling third is a Mac mini also with Yosemite.

[2018-06-28 14:31] aonez commented on #227
That makes sense with the new domain. I’ll change that. Thanks!

[2018-06-28 14:44] aonez commented on #227
Should work now 👍🏼

[2018-06-28 15:12] Rahzah commented on #228
But it worked after uninstalling your app. What am I Looking for in the console app. Not that experienced in that regard.

I installed the app from your website.

[2018-06-28 15:43] #228 closed

[2018-06-28 17:33] gingerbeardman commented on #226
Was reminded by #228 that after half defaults it took two presses of Quit (hotkey  or menu) to quit the app

[2018-06-29 11:42] #227 closed

[2018-06-29 22:22] grimmermatt opened #229 "Keka thinks compressed files already exist?"
Keka is naming all of my compressed files *[space]2.7z, as if there were already a file named *.7z in the same directory. Any idea why this is happening? I’ve looked around everywhere. Oddly, this happens with a 2018 5k iMac but not with a 2016 15" MBP. I'm on Version 1.1.1 (2733) and the latest OSX with both.

[2018-06-30 08:13] aonez commented on #229
Hi Matt! What option are you using for the compression naming? You can look at it in the Keka preferences, Conpression tab.

[2018-07-02 07:29] aonez opened #230 "DMG compression algorithm"
As requested by [akrabu139](https://forum.keka.io/memberlist.php?mode=viewprofile&u=587&sid=8c74e8fe961c162ecb7c816afbeba7a3) in the [forum](https://forum.keka.io/viewtopic.php?f=6&t=2415&sid=8c74e8fe961c162ecb7c816afbeba7a3#p2840):

- [x] Add algorithm selector
- [x] Add compression level/method
- [ ] ~Study the possibility of enabling encryption~: as of Apr 24, 2020, this seems to be not possibl

[2018-07-02 08:32] aonez commented on #225
Thanks @anazhd! @khanhthietbi reopen this one if you still found this issue on the latest Keka version.

[2018-07-02 08:32] #225 closed

[2018-07-02 10:26] iOSfan420 opened #231 "Add file to existing zip or 7z file, possible?"
Hi,

how I can add a or many files to existing zip or 7z file under Keka?

This is possible??

[2018-07-02 11:30] aonez commented on #231
Right now this is not possible with Keka.

This feature directly depends on the implementation of #100. It may come after that one :)

[2018-07-02 13:21] nicmare opened #232 "Don't create folder!"
Keka always creates folders in the zip archive. even when i select multiple files and put them into keka. keka will always wrap them in a folder withhin the archive. how can i stop that?! i need the files without folder after extracting. thanks

[2018-07-02 13:59] gingerbeardman commented on #232
@nicmare Actually, an enclosing folder isn’t added to the zip at all. You can check by opening in BetterZip or QuickLook or similar.

The enclosing folder is created during extraction, to keep the files from the archive together. But you’re correct that there is currently no option to avoid this when using Keka.

[2018-07-02 16:47] aonez commented on #232
This is in fact a duplicate #72. As @gingerbeardman states the folder is created during extraction, not in the compression.

[2018-07-02 16:47] #232 closed

[2018-07-05 18:12] Amsdame opened #233 "The Terminal command isn't working"
It was unclear to me whether to first copy & paste the full command to set all parameters up, because when attempting that I got a syntax error. Instead I wrote the command I wanted (the password one) as the parameter, and then ended with true (all lower case). I did not get a syntax error but when attempting to check if it was actually working it failed to create a password file for me.  What am

[2018-07-05 18:33] gingerbeardman commented on #233
Are you doing this `defaults write com.aone.keka ExportPassword -bool TRUE`

[2018-07-05 19:05] Amsdame commented on #233
My bad, I had to restart and now it is working!

[2018-07-05 19:07] Amsdame commented on #233
Yes, I tried yet again and no file with the password is to be seen nearby the extracted file, or the zip file, or the original file

[2018-07-05 19:29] aonez commented on #233
@Amsdame is working for you or not? Always to set a preference from the terminal first close Keka, then set the preference and start Keka again.

[2018-07-06 15:16] Vadammt opened #234 "[Feature request] Preview content of archive"
Yes, I came from Windows (where all archiver provide such an archive privew) to Mac.

This comes in handy if I download archives where I only need a few file from, or have an untrusty source of the file and first want to peek into the archive before extracting it.

Maybe separate it from the current app workflow; like "Open With" > "Keka Archive Preview"

[2018-07-06 15:38] gingerbeardman commented on #234
See

Until Keka gets this there are numerous Quick Look plugins that offer peeking inside archives. Or there's BetterZip

[2018-07-08 11:50] Vadammt commented on #234
Sorry for duplicate. I couldn't find this issue.

[2018-07-08 11:50] #234 closed

[2018-07-08 13:41] walkforest opened #235 "Keka crashes on Mojave beta 3"
macOS Mojave Beta 3(DB)
Keka 1.1.1

I can't open Keka. It's just get cracking. It's has some problems on ZIP? I did not have any problems until I clicked on the ZIP.

[2018-07-08 14:57] aonez commented on #234
Thanks @gingerbeardman and @Vadammt. Better closed since this is a duplicate, any discussion better on #100. Salut!

[2018-07-08 17:33] gingerbeardman commented on #235
do you mean Keka crashes?

[2018-07-08 17:39] walkforest commented on #235
@gingerbeardman Yeah, It's crashing.
I've already tried reinstalling, but I can't solve this problem.

[2018-07-08 20:04] gingerbeardman commented on #235
can you post crash log?

[2018-07-08 20:05] sevdestruct opened #236 "[REQ] Use shared name of files excluding [.ext]"
Thank you for making Keka. I use it regularly and promote it heavily amongst our user base for use with ROMs in our GitHub project: [Provenance](https://github.com/Provenance-Emu/Provenance).

I'd like to make a feature request:
When dropping a group of files to compress onto Keka, it defaults to `Compressed file.[ext]` and adds numbers subsequently, even if the filenames are the same as a pair, s

[2018-07-08 20:12] gingerbeardman commented on #236
Related https://github.com/aonez/Keka/issues/188

[2018-07-08 20:19] walkforest commented on #235
Process:               Keka [3135]
Path:                  /Applications/Keka.app/Contents/MacOS/Keka
Identifier:            com.aone.keka
Version:               1.1.1 (2733)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Keka [3135]
User ID:               501

Date/Time:             2018-07-09 05:18:32.625 +0900
OS Version:            Mac OS X 10.14 (1

[2018-07-08 20:20] walkforest commented on #235
@gingerbeardman This is the full crash log.

[2018-07-08 20:34] sevdestruct commented on #236
@gingerbeardman, Thanks for the upvote on this, but not sure it's very strongly related to the other thread—maybe in terms of inferential naming, but I think the suggestion here is a bit more universal than inferring from containing folders… I think I agree with the commentary on that thread.

[2018-07-08 20:40] sevdestruct commented on #188
Since my request got related to this. I thought I'd cast a comment into this for discussion.

What is the use case of this? Seems to be an unnecessary optional setting with little to gain, but I mean no disrespect, just curious about the use case if you can explain why it's handy.

Wouldn't `Desktop.7z`, `Desktop 2.7z` … `Documents.7z`, `Documents 2.7z` basically the same as `Compressed file 2.7z`

[2018-07-08 20:42] aonez commented on #235
@walkforest I’ll try theMDEkk

[2018-07-08 23:13] gingerbeardman commented on #188
It's something I use frequently and miss in Keka, not something I've just thought up that might be nice 😉

The use case is when I want to archive some files (but not the whole folder) and I do not want the folder name stored in the archive. Currently I have to do a manual rename afterwards.

At the very least "Desktop.zip" is descriptive of where the contents came from. "Compressed file.zip" or "A

[2018-07-09 00:08] sevdestruct commented on #188
Fair enough…I guess I can think of a couple more instances where that might be useful as an optional checkbox, after pondering about it a bit.

What are your thoughts on the other suggestion I made above, might be a better default than `Compressed file #.7z` in general, instead of an alternate to the request here. Perhaps I should move that to it's own request ticket…

[2018-07-09 00:11] gingerbeardman commented on #188
Your suggestion is interesting, I think it would be useful sometimes but how much would need me to try it out for a while.

Here's me using 7z on Windows just now:

![screen shot 2018-07-09 at 01 09 39](https://user-images.githubusercontent.com/49612/42425405-f7f71114-8314-11e8-884b-4d2d8da64edf.png)

[2018-07-09 00:19] alvarnell commented on #235
The NDA you agreed to when testing macOS 10.14 requires that you report such issues to Apple first, so that they can determine whether the OS is at fault. They will contact a 3rd party or tell you to if they believe the developer needs to change something.

[2018-07-09 11:55] aonez commented on #236
Thanks @sevdestruct for such a complete request. Cool project you're working on, by the way.

So if I got it right, the thing will be:

- [ ] If input files are a set (i.e. bin+cue with same name), use shared name as output name
  - [ ] Optionally detect multi-disk/parted set and use shared name
- [ ] Try to detect multiple sets and compress them separately

I'm thinking in a check in the Preferen

[2018-07-09 11:59] aonez commented on #215
This is being help by Apple in the review process. Might need to find a workaround.

[2018-07-09 12:02] aonez commented on #188
@gingerbeardman I also use 7-Zip in Windows environments and this is the default behaviour. Being so simple to implementation, and it benefiting some users, I don't see why not adding that one.

[2018-07-09 12:06] aonez commented on #235
@walkforest I understand this only happens with Keka? Try to delete the preferences file, but I don't think this will make any difference:

`rm ~/Library/Containers/com.aone.keka/Data/Library/Preferences/com.aone.keka.plist`

[2018-07-09 12:09] aonez commented on #188
A check will go below `Same as original file`, something like `Name as containing folder if multiple files`

![screen shot 2018-07-09 at 14 08 13](https://user-images.githubusercontent.com/480163/42449600-92f405f2-8381-11e8-8ca3-ab1073b7fd13.png)

[2018-07-09 12:34] aonez commented on #202
Now I see this one crystal clear. The problem here is that the queued operation in Keka (for 10 or more files at once) makes **one operation at a time**, while the other apps (and Keka with the old queue system or less than 10 files) do multiple operations at once, using more system resources and finishing sooner.

So this one will be fixed in #21, since the **one operation at a time** queue will

[2018-07-09 13:00] gingerbeardman commented on #229
Oh! That will teach me. I did not even check the preferences

[2018-07-09 15:42] sevdestruct commented on #236
Yeah, i think that's basically it, although in 2nd part of your list I would try to do it universally versus specifically to disk # or part # or detecting common naming…instead opting for something more universal if possible, i suggested above:

…then again, today I encountered these filenames:

[code]
…an extreme case which, though I think the frontend is still the majority:  `D (USA) (Disk ` tho

[2018-07-09 15:55] sevdestruct opened #237 "[Suggestion] Loose file archive default naming from contents"
Wanted to toss this idea from a suggestion I made in another thread, but might have merit as it's own proposal for a new default naming of loose file archives instead of `Compressed file…`

Create names simply from the leading file or folder (item) and quantity of contents (additional items)…
[code]
Allowing for archiving queued batches without losing context of what got batched after (especially

[2018-07-09 15:59] gingerbeardman commented on #237
I'm wondering what qualifies as "leading file"?

- Largest?
- Newest?
- First when sorted alphabetically?
- First/last selected?
- some other metric?

[2018-07-09 16:01] sevdestruct commented on #237
I was just going to assume alphabetically, the default view mode, file or folder at the top of a given list, which would be most common view mode to associate —to keep this simple.

[2018-07-10 08:20] aonez commented on #237
I'm not sure about this one, since determining the most "prominent" input to appear in the output name is very difficult and personal. Also the count will be a simple input count, not file count. Anyway it is another alternative, for sure.

[2018-07-10 11:54] gingerbeardman commented on #235
Problem is listed in the crash log

Crashing on exception: Tried accessing the col index for a variable that is a row head:529

[2018-07-10 15:42] sevdestruct commented on #237
I think it's getting over complicated to think of it as prominence for a final file name. Forget about prominence. Too complicated an of course that is subjective. Instead of the final end game think of this as simply a replacement for the temporary name "compressed file #.7z" meant for renaming as it is now -- just a replacement that help s you remember what you archived... Let me explai;

I thin

[2018-07-10 22:29] sevdestruct commented on #237
I guess I should be referring to the leading file not as alphabetical first but simply the first item processed by Keka, but that would be pending how Keka processes any given list of items dumped on it from the Finder or otherwise in case it respects the list order dragged to it from various sort modes. So leading meaning first of a given list..

[2018-07-11 08:05] aonez commented on #235
@gingerbeardman with the log I thought this is not related with Keka, but I'll have to try it on Mojave. Definitely the Metal changes they've made have something to do here.

[2018-07-11 08:06] aonez commented on #235
@walkforest when you say:

You mean when you try to open a ZIP file or when you select the ZIP format in Keka?

[2018-07-11 08:43] walkforest commented on #235
@aonez It's means 'select the ZIP format in Keka'.
It's doesn't have any trouble when I try to open ZIP files on Keka.

[2018-07-11 08:58] aonez commented on #237
Got it @sevdestruct. The order of the list comes from Finder, and seems to be the same as you've there. So first item in Finder, first item in the Keka list. If no specific order (for example in the Desktop) seems to be top to bottom, left to right.

[2018-07-11 09:09] gingerbeardman commented on #235
which one of these?

Main window
![screen shot 2018-07-11 at 10 08 36](https://user-images.githubusercontent.com/49612/42561975-709c1d10-84f2-11e8-8db9-f082719c4e02.png)

Preferences
![screen shot 2018-07-11 at 10 07 57](https://user-images.githubusercontent.com/49612/42561985-74dfaa90-84f2-11e8-8b1d-f35ed74b708f.png)

[2018-07-11 09:24] aonez commented on #235
@gingerbeardman I'm sure @walkforest means the advanced window.

[2018-07-11 11:01] walkforest commented on #235
@gingerbeardman It's the main window.

[2018-07-11 11:03] walkforest commented on #235
@gingerbeardman I tried all of option(7Z, ZIP, TAR, GZIP, BZIP2, XZ, LZIP, DMG, ISO), but only 'ZIP' option is crashing Keka programs.

[2018-07-11 11:29] walkforest commented on #235
Ok, I took the Video.
https://youtu.be/L1NNP1s342A

[2018-07-11 12:01] gabrielwhite opened #238 "Maintain "resource fork" setting between sessions"
I always exclude MacOS resource forks from my archives, and I'm sure this is the same for many others.

I would like Keka to maintain this setting between sessions, so I don't have to check it every time I open the app.

Thanks.

[2018-07-11 12:57] aonez commented on #235
@walkforest, could you try this code in the Terminal:

[code]

There're some constraints giving a warning in the ZIP view. I can't get it to crash, but I'm testing in a VM on Parallels. I'll try to fix those warnings, pretty sure they're the cause.

[2018-07-11 13:34] aonez commented on #238
@gabrielwhite enable this option on the Keka Preferences. There you can set permanent preferences. Next time you run Keka the exclude option will be enabled.

![screen shot 2018-07-11 at 15 33 11](https://user-images.githubusercontent.com/480163/42574884-d02bc4d8-851f-11e8-9f18-94e1be9f0fed.png)

[2018-07-11 13:57] aonez commented on #235
@walkforest try this build: https://t.keka.io/Keka-1.1.2r2756.zip

[2018-07-11 14:15] aonez commented on #235
I don't know if this crash is intentionally from Apple's part, since on previous versions there was no warning, nor in the VM, where I'm just getting an error log in the console. So maybe creating a [bug report](https://developer.apple.com/bug-reporting) might be helpful for them, as @alvarnell suggested. I'v created a bug report (id 42070166) but since I can't reproduce this (only got an error in

[2018-07-11 14:34] walkforest commented on #235
@aonez Ok, I tried this build( https://t.keka.io/Keka-1.1.2r2756.zip ).
In this build, Keka doesn't have any problems with it!
It seems bugs are fixed.

[2018-07-11 14:36] walkforest commented on #235
@aonez Thank you very much.

[2018-07-11 16:31] gingerbeardman commented on #235
Great news! Please @walkforest create a report at http://bugreport.apple.com or through the Mojave Beta Feedback app.

[2018-07-11 22:32] gabrielwhite commented on #238
Thanks! This design is non-obvious and probably is the opposite behaviour to what the majority of users would like.

I'd suggest BY DEFAULT retaining the state of the settings on the main app screen and have a setting in Preferences which is something like "Reset archive settings after quitting" (but better worded).

But at least my problem has been solved.

Thanks!

[2018-07-12 08:42] aonez commented on #238
This way you can set one-time configuration and also set permanent configuration. Thanks for the feedback @gabrielwhite!

[2018-07-12 08:42] #238 closed

[2018-07-12 08:43] aonez commented on #235
Thanks you @walkforest for the feedback and tests.

[2018-07-15 15:32] ErikAGriffin opened #240 "Opening .sit (StuffIt) files?"
Hi,  Just wondering if there are plans to include decompression of .sit files?  As it stands Keka can't be the end-all-be-all compression software as I have to download the Unarchiver to open these

[2018-07-15 17:02] aonez commented on #240
Just added it to the list in #84. Maybe using #148.

[2018-07-16 07:56] Neberheim commented on #235
Are you willing to merge the 1.1.2 build with your homebrew/cask-version Tap? It's currently sitting at 1.1.0.

[2018-07-16 09:39] aonez commented on #235
@Neberheim I don't know who maintains the cask version. Anyway 1.1.2 is not yet ready/released, but 1.1.1 is.

[2018-07-16 12:24] Neberheim commented on #235
Ah, I didn’t realize they aren’t necessarily maintained by the author. And sorry for lack of context: I’m running the 10.14 beta as well, and I was going to try the build linked above.
On Jul. 16, 2018, 05:39 -0400, aONe <notifications@github.com>, wrote:

[2018-07-16 20:09] aonez commented on #235
No problem at all! You can use this issue’s build for Mojave test with no problem :)

[2018-07-17 21:18] grgo69 opened #241 "Detect stale access bookmark on demand"
I have created archive with old version of keka, but now with new I cannot open files, it doesnt even ask me for passwords??

[2018-07-18 10:40] gingerbeardman commented on #241
@grgo69 can any other apps extract the archive using the password?

[2018-07-18 11:42] aonez commented on #241
Thanks @grgo69, just seeing the screenshot there’s definetly some problem there. Let me check the files and come back to you.

[2018-07-18 14:52] grgo69 commented on #241
@gingerbeardman Yes I was able to open file with another program (WinZip on Windows )

[2018-07-18 14:59] aonez commented on #241
![screen shot 2018-07-17 at 23 23 43](https://user-images.githubusercontent.com/480163/42889745-747201fc-8aab-11e8-965e-7c1ba5c58fe9.png)

This seems like a rare character in the path (wether input or output) crashed the process.

[2018-07-18 15:11] grgo69 commented on #241
hi
Now I tried again and did work but asked me to grant permission to disk and than it did ask for password and extract.
Before it didnt ask me to gran permission.
It might be due to the fact that I am running Bootcamp and I renamed the disk name of MacOS partition
Thanks, G

[2018-07-18 15:12] aonez commented on #241
I'll try to detect the permission revocation and ask for it before Keka fails. I assume restarting Keka was enough in this case, since it detects bad permission on start.

Thanks @grgo69!

[2018-07-18 15:15] grgo69 commented on #241
@aonez I did restart computer as I had to start the bootcamp for Windows. I think I did restart KEKA before few times before I gave up

[2018-07-18 15:16] aonez commented on #241
Oh ok, thanks @grgo69. I'll do some tests 👍

[2018-07-18 15:17] aonez commented on #241
Anyway, just to be sure, @grgo69 the input/output paths have any special character or punctuation?

[2018-07-18 15:18] grgo69 commented on #241
@aonez I will send you paths to email

[2018-07-18 15:20] aonez commented on #241
Just to state it here, path is the default downloads folder, no special characters or punctuation.

[2018-07-22 22:35] #200 closed

[2018-07-24 09:06] bjesuiter opened #242 "BUG: Keka crashes when trying to unpack 7zip file"
## How to replay the issue
- double click on 7z file
- "Keka needs file access" - Message
- Klick 'Give Access'
- Macintosh HDD is preselected (as expected)
- click "Give Access to Keka"

## Expected
- 7z file will be unpacked besides the original 7z file

## Observed:
- Keka crashes with the message

- The original 7z file which I wanted to extract, is gone.

## Additional Information
- 7z File c

[2018-07-24 10:14] aonez commented on #242
@bjesuiter thanks for the feedback! Can you remove the Keka bookmarks (close Keka first):

[code]

This will force the recreation of the access bookmark. I'm almost finishing an updated version 1.1.2 that will fix most of those issues.

[2018-07-24 10:18] aonez commented on #242
Also a system restart may fix this, since the system may deny Keka access to files until a reboot.

[2018-07-24 10:30] gingerbeardman commented on #242
Maybe try granting access, quitt Keka, relaunch, then extract?

[2018-07-26 06:47] aonez commented on #235
1.1.2 released 😊

[2018-07-26 06:47] #235 closed

[2018-07-26 06:47] aonez commented on #208
@robinalpha can you try with the newly released 1.1.2 version?

[2018-07-26 06:48] aonez commented on #242
@bjesuiter can you try with the newly released 1.1.2 version?

[2018-07-26 06:49] aonez commented on #241
This should be fixed in 1.1.2, the file access is checked before every operation 🤓

[2018-07-26 06:49] #241 closed

[2018-07-26 06:52] aonez commented on #208
@KeLeBoR an can you also try with the newly released 1.1.2 version?

[2018-07-26 21:05] robinalpha commented on #208
@aonez seems like it works! :)

[2018-07-26 23:54] GingkathFox opened #247 "[1.1.0-rc1] Hanging when creating .rar file"
I am trying to compress a `.zip` archive into a `.rar`. Keka doesn't display the `Creating "Samples.zip.rar"` window until I compress a normal folder, then says `Waiting...`
Image:
![Waiting...](https://user-images.githubusercontent.com/33764485/43294499-9442cc10-910d-11e8-920c-c01cfda2d4d9.png)

[2018-07-27 08:18] aonez commented on #247
Can you enable the console verbose and let me know what it says when trying to create the RAR file:
https://github.com/aonez/Keka/wiki/Console-verbose

[2018-07-27 08:19] aonez commented on #208
Thanks @KeLeBoR and @robinalpha!

[2018-07-27 15:25] brianduguid opened #248 "Exclude Mac resource forks does not exclude .DS_Store"
I just started using Keka to solve the issue of excluding ._ and .DS_Store files in tar.gz files to be used on a Linux box.  I have "Exclude Mac resource forks (eg: .DS_Store)" checked in preferences as well as the drag and drop box.  The ._ files are excluded, but the .DS_Store files are included.

Keka Version 1.1.2 (2787)
macOS High Sierra 10.13.6

[2018-07-27 15:32] GingkathFox commented on #247
@aonez it doesn't seem to say anything, unless I'm doing something wrong.
What I inputted into the Terminal:
[code]

[2018-07-27 15:33] GingkathFox commented on #247
Also, the `Solid Archive` box is ticked.

[2018-07-27 17:22] brianduguid commented on #248
![checked-left_unchecked-right](https://user-images.githubusercontent.com/14977973/43336754-07d983a2-91a0-11e8-930d-187250fba5a3.png)
The checkbox checked on the left and the checkbox unchecked on the right.

[2018-07-28 08:47] alvarnell commented on #248
Technically, .DS_Store files are not resource forks, although I suppose Keka could handle them in the same way, I suppose.

-Al-

On Fri, Jul 27, 2018 at 08:25 AM, Brian Duguid wrote:

[2018-07-28 19:34] aonez commented on #247
The code bellow just adds a flag so Keka launches in verbose mode. Then, in the Console.app, you should see the logs Keka prints. I'll check the solid option.

[2018-07-28 19:35] aonez commented on #248
You're booth right. Technically the .DS_Store is not metadata, but Keka should ignore this one and other Mac specific hidden files when the flag is checked.

[2018-07-28 19:38] aonez commented on #247
I can't reproduce this issue. With the flags you've enabled, just go to Console.app, filter by "Keka" and let me know what it says.

[2018-07-28 20:06] GingkathFox commented on #247
@aonez
[code]

[2018-07-29 09:49] aonez commented on #247
I don’t ser any operation there.

1. Open the Console.app
2. Filter by Keka
3. Open Keka
4. Clear the Console messages
5. Do a RAR compression

There should be some compression messages in the Console.app. Hope this one it the one :)

[2018-07-29 10:36] drsassafras opened #249 "Password retry upon failure"
Right now if I type the wrong password to unpack an archive it ends in a failure notice and to re-try I need to try re-unpacking the archive.

I wager that the most common reason why an encrypted archive can decrypt is because the password was wrong.

Perhaps a better default behaviour would be to re-ask for the password. That would allow me to quickly type in the real password that I mistyped the

[2018-07-29 13:55] GingkathFox commented on #247
Here we go:
[code]

[2018-07-30 04:52] lifehome opened #253 "Keka keeps crashing"
## Steps to reproduce
1) Open Keka or uncompress a file
2) It crashed.

## Crash Log
https://gist.github.com/lifehome/22ab80f15691f41ef770e9aa13ad0cf0

[2018-07-30 09:32] aonez commented on #247
The log should look something like this:

[code]

Discard all the lines containing:
[code]

Be sure you've executed those in the Terminal with Keka closed:

[code]

[2018-07-30 09:36] aonez commented on #253
Can you share the Keka preferences file?

Is located on:

[code]

I'm mostly sure just deleting those files (the first is for versions older than 1.1) will make Keka work, but having that file to replicate the issue will help :)

[2018-07-30 09:43] aonez commented on #249
This was asked before (just can't find where) and always told no because of brute force attacks. But actually this might be done with some limitation to evade brute force use. Not sure here.

[2018-07-31 08:29] aonez commented on #248
Fixed for 1.1.3. @brianduguid can you test it? [Keka-1.1.2r2794](https://t.keka.io/Keka-1.1.2r2794.7z)

[2018-07-31 09:45] aonez commented on #226
So finally I've determined that the whole container should be deleted. If only the plist file is deleted, the App internals treats the container as if its from a third party application and has no access. So:

[code]

I should remember that 🤓

[2018-07-31 10:09] #233 closed

[2018-07-31 12:07] brianduguid commented on #248
It looks great.  Thank you.

![snip20180731_1](https://user-images.githubusercontent.com/14977973/43458565-ad49c856-9498-11e8-93f4-54e62471be35.png)

[2018-08-02 00:30] GingkathFox commented on #247
I did that, all I got was:
[code]

[2018-08-02 00:31] GingkathFox commented on #247
The `<private>` are errors, and its something with `com.apple.appkit`.

[2018-08-02 12:52] gingerbeardman commented on #247
Can you do a screen recording of:
1. Entering the two commands in Terminal.app
2. Open the Console.app
3. Filter by Keka
4. Open Keka
5. Clear the Console messages
6. Do a RAR compression

[2018-08-02 14:41] GingkathFox commented on #247
@gingerbeardman https://www.dropbox.com/s/yiqf4tfhvz6turz/2018-08-02%2010-35-04.flv.zip?dl=0

[2018-08-02 15:31] crax commented on #208
I'm using the 1.1.2(2787) version, still got the same error. @aonez

[2018-08-03 17:33] aonez commented on #247
Thanks @gingerbeardman and @GingkathFox. The "problem" here is that you have an stable 1.1.x version and the RC1. The stable has sandboxing, so the preferences file is stored here:
[code]
But the RC1 has no sandboxing, so the preferences file is located here:
[code]

Being the stable newer, when you set the **DevLog** and **DevLogReader** they're set for the stable version.

A quick test could be

[2018-08-03 17:50] gingerbeardman commented on #208
I wonder if the app (or just kekaunrar) is suffering from App Translocation?

[2018-08-03 17:51] aonez commented on #208
@gingerbeardman Maybe the older version from the backup was silently updated using Sparkle? That way uses the ZIP package so it's not HFS+ compressed. You can reproduce it with the DMG package? And with the ZIP one: [Keka-1.1.2.zip](https://github.com/aonez/Keka/releases/download/v1.1.2/Keka-1.1.2.zip)?

@crax are you using the web version? If you're, please try with the ZIP packed version: [Keka-

[2018-08-03 17:54] aonez commented on #208
@gingerbeardman this was the first thing I've checked when I saw you had this issue too... The problem is I'm unable to reproduce it :(

[2018-08-03 20:33] GingkathFox commented on #247
@aonez owo I didn't know that, thanks! Ill delete stable and try again.

[2018-08-03 20:39] GingkathFox commented on #247
@aonez
![screen shot 2018-08-03 at 4 39 16 pm](https://user-images.githubusercontent.com/33764485/43664700-ce562f44-973b-11e8-9f11-5ecc29d16202.png)

[2018-08-04 14:28] GingkathFox commented on #247
Ill try deleting and re downloading RC1 again.

[2018-08-04 14:46] GingkathFox commented on #247
Same output, with one change:
[code]

[2018-08-04 15:10] aonez commented on #247
@GingkathFox try with this one: [Keka-1.1.0-rc.1-log.zip](https://github.com/aonez/Keka/releases/download/v1.1.0-rc.1/Keka-1.1.0-rc.1-log.zip)

This version will always write all the logs.

[2018-08-04 17:29] GingkathFox commented on #247
@aonez uuh, downloaded and ran, output:
![screen shot 2018-08-04 at 1 27 18 pm](https://user-images.githubusercontent.com/33764485/43678924-4b334df4-97ea-11e8-85cd-48f1e8431d58.png)

[2018-08-04 18:44] gingerbeardman commented on #247
Are you running geektool-3?

[2018-08-04 19:01] GingkathFox commented on #247
Uh, I have it, but it hasn't been running for days
Nerdtool is running though

[2018-08-04 20:16] gingerbeardman commented on #247
Maybe they are Safari tabs?

Anyway, they're not what you are looking for :)

[2018-08-05 00:05] aonez commented on #247
That network calls I don’t recognize them, but as @gingerbeardman pointed connect to geektool github page. Be sure you’re running the linked build, it has forced log so must appear...

[2018-08-05 00:35] GingkathFox commented on #247
ooh, @gingerbeardman the geek tool page is NerdTool
@aonez I am, I replaced the old version with the linked one

[2018-08-05 04:53] drsassafras commented on #249
Brute force attacks rely on a massive number if retrys. Tens of thousands.

Even if a password list is being used, one needs 100 or so tries for much success. But to really avoid dictionary attacks the only real way is to have a dictionary blacklist of the most commonly used passwords. http://doc.tiki.org/Password-Blacklists

So if the number of password retry's was limited to 3-5 before the progr

[2018-08-05 14:13] aonez commented on #247
@GingkathFox

1. Delete all Keka versions you have installed (RC and stable)
2. Remove the preferences file: `rm ~/Library/Preferences/com.aone.keka.plist`
3. Remove the sandbox container files: `rm -R ~/Library/Containers/com.aone.keka`
4. Empty the trash and restart the Mac
5. Download the RC-log version: [Keka-1.1.0-rc.1-log.zip](https://github.com/aonez/Keka/releases/download/v1.1.0-rc.1/Keka-

[2018-08-05 15:42] GingkathFox commented on #247
Trying now:

[2018-08-05 15:48] GingkathFox commented on #247
[code]

[2018-08-05 15:49] aonez commented on #247
Please try in a fresh account

[2018-08-05 15:50] GingkathFox commented on #247
[code]

[2018-08-05 15:55] GingkathFox commented on #247
The other accounts safari isn't working atm, ima test later

[2018-08-05 16:37] aonez commented on #247
Maybe try to copy it from your main account to the Applications folder and run it from the other account. Hope this helps :)

[2018-08-05 16:54] GingkathFox commented on #247
@aonez did that, output:
[code]

[2018-08-06 07:42] aonez commented on #247
@GingkathFox What happens if you execute this command on the terminal:

[code]

[2018-08-06 08:41] jasonfist opened #256 "Contextual 'Send to Keka' menu does not respect compression format"
Even if Keka is set to compress a file to .zip format, the file created is a .7z is you control-click and choose 'Send to Keka' in the contextual menu.

[2018-08-06 08:47] aonez commented on #256
@jasonfist the context menu items will respect the default format you've selected in the Keka preferences, unless you have Keka opened, in that case will use the currently selected format.

So for example, if you have ZIP set in the Keka preferences and 7Z selected in the main window:

- If Keka is closed, the context menu actions will create ZIP files
- If Keka main window is opened, the context

[2018-08-06 08:48] jasonfist commented on #256
Got it. Thanks!

[2018-08-06 08:48] #256 closed

[2018-08-06 08:50] aonez commented on #256
@jasonfist which was the issue for you? The main window opened or the default format selected? Maybe I can improve this just adding a checkbox in the preferences.

[2018-08-06 09:28] jasonfist commented on #256
I didn't realise there was a default compression option in the preferences. I just assumed that the main Keka window's selected format (or last selected format, if the app was closed) would be used.

[2018-08-06 10:06] gingerbeardman commented on #256
I also had this confusion. It's confounded by both windows looking quite similar.

[2018-08-07 10:33] #253 closed

[2018-08-08 23:28] briatte commented on #27
Keka recently started to fail systematically for me, using Mac OS X 10.9.5.

[code]

Example ZIP file: https://cdn1.sph.harvard.edu/wp-content/uploads/sites/1268/2015/08/stata_part2.zip

[2018-08-09 07:44] aonez commented on #27
@briatte are you using the latest version of Keka? If you revert to an older version it still fails? I'm preparing a 10.9 environment to test.

[2018-08-09 07:54] aonez commented on #249
@drsassafras thanks a lot for all your points. Synthesising:

- Limit to 5-10 tries per operation, after that end the operation
- Limit to 20-30 total tries per minute, after that end operations without offering the retry until a "cooldown" of 10-20 seconds

I'll research for those brute force tools you talk about before developing this enhancement, since if they're already convenient and well mad

[2018-08-09 08:29] aonez commented on #27
@briatte reproduced it with latest 1.1.2 version.

[2018-08-09 08:39] aonez opened #257 "Keka 1.1.2 fails on Mac OS X 10.9"
As reported by @briatte on https://github.com/aonez/Keka/issues/27#issuecomment-411586296, Keka 1.1.2 fails to get access to files.

## Issue

On Mac OS X 10.9 the Keka preferences are not correctly read/stored. Therefore Keka can't get access to files.

- Opening Keka and removing the older file access (In Keka - Preferences - File Access) gives Keka access trough the session
- As soon as Keka is

[2018-08-09 08:40] aonez commented on #27
@briatte will continue the issue you've reported on #257.

[2018-08-09 09:27] aonez commented on #257
So on Mac OS X 10.9 the preferences are not correctly read/stored. Therefore Keka can get access to files.

- Opening Keka and removing the older file access (In Keka - Preferences - File Access) gives Keka access trough the session
- As soon as Keka is closed, the new access is replaced by the OS, rendering it unusable in the next session

This does not affect on Mac OS X 10.11 and newer. Not tes

[2018-08-09 10:34] #226 closed

[2018-08-09 10:35] #248 closed

[2018-08-09 12:42] briatte commented on #27
Thanks for following up, and for the full report in #257.

I guess not -- everything was fine before.

I just need to update the OS. Keka is not the only piece of software that is not working properly anymore on 10.9 (starting with Chrome, which is a security liability).

[2018-08-09 15:03] aonez commented on #27
Thanks a lot @briatte. I'll try to fix it anyway, but for sure updating to the latest supported OS for your machine is always a good idea :)

[2018-08-10 18:01] aonez commented on #257
Finally it was a sandbox check using some 10.9 incompatible code. This will be fixed in 1.1.3.

[2018-08-10 18:01] #257 closed

[2018-08-11 14:54] GingkathFox commented on #247
@aonez I tried both, `-bash` says raw isn't found on both accounts. The log config also did nothing.

[2018-08-13 08:11] aonez commented on #247
So you can't run `rar` on the Terminal? Take a look at the instructions to install the RAR binary, also you'll need to purchase a license for prolonged use.

https://github.com/aonez/Keka/wiki/Rar-compression

[2018-08-13 13:47] GingkathFox commented on #247
@aonez I re-downloaded it, it says the same thing. `rar` is in `/usr/local/bin/rar`.

[2018-08-14 08:45] aonez commented on #247
@GingkathFox can you share an screenshot of the Terminal.app executing the `RAR` binary?

[2018-08-14 13:56] GingkathFox commented on #247
ok

[2018-08-14 13:57] GingkathFox commented on #247
![screen shot 2018-08-14 at 9 57 31 am](https://user-images.githubusercontent.com/33764485/44096124-825ccc68-9fa8-11e8-9e6a-d49c12e5a950.png)

[2018-08-14 14:35] aonez commented on #247
@GingkathFox I suppose if you execute `which rar` in the Terminal it will return nothing.
What if you execute the binary pointing all of its path?

Please share a screenshot executing these commands:

[code]

[2018-08-14 14:56] GingkathFox commented on #247
![screen shot 2018-08-14 at 10 55 49 am](https://user-images.githubusercontent.com/33764485/44099458-a2b71948-9fb0-11e8-8bdc-1047772bb7a1.png)

[2018-08-14 15:01] aonez commented on #247
@GingkathFox ok, the problem is that you've copied the full RAR folder. You need to copy only the RAR binary. This command will do that for you:

[code]

[2018-08-14 16:26] GingkathFox commented on #247
ok, that fixed it! Thanks @aonez!
Could we have rar support in the next version though?

[2018-08-14 19:42] gingerbeardman commented on #247
can we have rar support the same way The Unarchiver does it?

[2018-08-14 20:06] aonez commented on #247
What do you mean with that, @gingerbeardman?

[2018-08-14 23:10] gingerbeardman commented on #247
I have no idea. :)

Ignore me today

[2018-08-15 01:33] GingkathFox commented on #247
lol @gingerbeardman

[2018-08-15 10:09] aonez commented on #247
@GingkathFox since Keka can't bundle the RAR binary, and sandboxing prevents execution of external binaries, right now this is not possible.

@gingerbeardman maybe today? 😂

[2018-08-15 10:09] #247 closed

[2018-08-15 10:33] gingerbeardman commented on #247
Also, it seems the helper app can be distributed inside of the main app?

I use Context Menu, which does this for its helper so it can run things outside of sandbox:
https://itunes.apple.com/gb/app/context-menu/id1236813619?mt=12

[2018-08-15 10:40] aonez commented on #247
Let's follow this one on #123.

[2018-08-15 10:50] aonez commented on #123
@gingerbeardman responding to https://github.com/aonez/Keka/issues/247#issuecomment-413156122:

Sadly communication between apps while sandboxed is very limited, monitoring the RAR operation will be very hacky using this method.

The WEB version is also sandboxed, so it suffers the same issue.

And following https://github.com/aonez/Keka/issues/247#issuecomment-413158761:

I'll love to check that

[2018-08-16 04:41] Jamyw7g opened #260 "Garbled characters"
When extracting compressed files from Win, there may be garbled characters.

[2018-08-16 06:04] aonez commented on #260
Same as #12? Can you share a file?

[2018-08-16 09:44] bb8 opened #261 "Timestamps for single files"
When using the single file mode (e.g. for GZIP), it'd be good to have an option to maintain the files' timestamps, much like the gzip cli utility.

[2018-08-16 21:49] hbast commented on #27
I got this bug now for month... can't remember the time, when keka was running without that error.
I'm on OS X 10.12.6 and keka v1.1.3

Is there a way to provide you some kind of log file?

[2018-08-16 22:55] aonez commented on #27
@hbast just a hunch, close Keka, open the Terminal.app and delete it's preferences with this command:

[code]

Open Keka again and see if it works. If not, here you can see how to enable logging:

https://github.com/aonez/Keka/wiki/Console-verbose

[2018-08-16 23:34] hbast commented on #27
Thanks! That worked for me!
First I deleted ~/Library/Preferences/com.aone.keka.plist but this didn't solve the problem!

[2018-08-21 09:06] aonez commented on #260
Closing as a #12 duplicate.

[2018-08-21 09:06] #260 closed

[2018-08-21 10:55] aonez commented on #261
@bb8 by default it maintains creation and modified times. Don't you mean those?

[2018-08-21 11:08] bb8 commented on #261
Yes, the creation and modified times. Using the GZIP method in Keka, with the option to archive as single files, the resulting .gz file has the date and time when the archive was created, instead of the original file's timestamp. This is in 1.1.3.

[2018-08-21 11:10] aonez commented on #261
Ok so you're talking about the actual .gz file, not it's content.

[2018-08-21 11:13] bb8 commented on #261
Well both, because when extracting the .gz file with Finder and gunzip, the decompressed file appears to inherit the .gz file's creation and modification timestamps.

[2018-08-21 11:16] aonez commented on #261
You're right. I'll investigate this one.

[2018-08-21 11:31] aonez commented on #261
So files compressed individually (no tarball) are done using `p7zip`. Tarballs use `bsdtar` and `pigz` instead. Maybe using `pigz` directly will be a good idea.

[2018-08-21 12:00] aonez commented on #261
The same applies to BZIP2 and XZ.

[2018-08-22 03:05] maxsky opened #264 "Keka website cannot display local language"
Chinese: [https://www.keka.io/zh-cn/](https://www.keka.io/zh-cn/)
Always display English.

[2018-08-22 04:39] aonez commented on #264
My fault, fixed :)

[2018-08-22 04:39] #264 closed

[2018-08-22 19:28] zdlo opened #267 "Attempting to operate with two or more files from different folders stalls Keka"
When I right click and "Open" multiple RAR files, even just 2, Keka runs and stalls without even showing an extraction window. It requires force quitting afterwards.

(Keka 1.1.3 on macOS 10.13.6)

[2018-08-22 21:06] gingerbeardman commented on #267
Try `ForceOldQueue` hidden preference?

https://github.com/aonez/Keka/wiki/Hidden-configuration

[2018-08-22 21:57] zdlo commented on #267
Didn't have any effect.

[2018-08-23 07:09] aonez commented on #267
@zdlo it happens with more formats or just RAR?

Can you enable the Keka logging and share what the Console.app (filtered with Keka) says?

https://github.com/aonez/Keka/wiki/Console-verbose

[2018-08-24 07:46] ejb4u commented on #15
Hi Aonez,
I still have "error code 2 using p7zip" with Keka 1.1.3 after some tests with pre-configured plists before install. Even if I remove all files in ~/Library/Containers and reinstall Keka 1.1.3 (downloaded from the website) it never work now.
I'm digging into [the official Apple documentation](https://developer.apple.com/library/archive/documentation/Security/Conceptual/AppSandboxDesignGui

[2018-08-24 19:32] zdlo commented on #267
default	16:23:49.586900 -0300	launchservicesd	CHECKIN:0x0-0x35bc5b9 99584 com.aone.keka
default	16:23:49.682094 -0300	Keka	Updating user defaults from 2809...
default	16:23:49.684933 -0300	Keka	Cleaning Keka proccesses...
default	16:23:50.089239 -0300	Keka	Dev mode enabled
default	16:23:50.090466 -0300	Keka	Dev reader mode enabled
default	16:23:50.091711 -0300	Keka	Running on OS X/macOS version 10

[2018-08-24 19:33] zdlo commented on #267
I'll have to check that later if necessary.

[2018-08-25 03:32] zdlo commented on #267
Tried with multiple ZIP files, worked fine.

The RAR files were the kind that triggers the extraction through multiple RAR containers (r00, r01, r02...). When I select a single main RAR file, it extracts. The log shows what happens when I select a couple of main RAR files and attempt to extract them at the same time.

Queueing the files for sequential operation (#21) would probably solve this too,

[2018-08-25 06:48] aonez commented on #267
Thanks for that, now I can do some tests. With the "burning CPU" message in the log I thought there's an infinite bucle there...

Note that for this mode to work you need to pass 10+ operations at once. With only two RAR files the normal queue is working.

[2018-08-25 06:51] aonez commented on #15
Hi @ejb4u, be sure to delete all:

- `Keka.app`
- `~/Library/Containers/com.aone.keka` folder
- `~/Library/Preferences/com.aone.keka`

[2018-08-26 13:03] niccik1816 opened #269 "Loosing personal icons of folders"
I have attached to my folders before zipping icons. created with the App Image to Icon. When I unzip the files the Icons disappeared and the icon is the usual mac os folder icon. Any ideas why this happen?
Nicole

[2018-08-26 16:48] niccik1816 commented on #269
oh thats a pitty. it seems that only the mac included zip app does that support. thanks for the fast feedback

[2018-08-27 06:58] ejb4u commented on #15
Thanks for the reply.
I just didi it again, and oops still the same error.
The container is probably storing data elsewhere. I'm searching and will keep you informed.
Nevertheless the zip file that I want to unzip is **deleted** when there is the error message, so I don't get it extracted, furthermore I lose the original zip file. In Keka preferences nothing is ticked so the zip file should not be

[2018-08-27 07:28] aonez commented on #15
@ejb4u there's no more data of Keka anywhere else... Be sure to delete de **folder** in the sandbox container. Maybe a restart will help cleaning caches?

This has been reported multiple times, but I've never reproduced it 😞 If you can, share those custom plists so I can tests.

This reminds me of #226, that's why I asked to be sure to delete the sandbox folder. Take a look if you also see the old

[2018-08-27 09:56] ejb4u commented on #15
Yes this is exactly as #226 but I always remove the whole directory. I don't know how to solve the issue.

I've found other places with Keka files in /var, but erasing them doesn't solve the issue.

[code]

[2018-08-29 02:42] victorwoo opened #275 "Create ISO/DMG with multiple/file input/s"
When selecting multiple file/directory in Finder and choose `Service -> Send to Keka`, it always fails and prompts:

    Compress failed
    File xxx can't be created.

[2018-08-29 06:50] aonez commented on #275
Hi @victorwoo! ISO and DMG can only be created from a single folder. There must be that message popping up when you try this operation:

![screen shot 2018-08-29 at 08 48 32](https://user-images.githubusercontent.com/480163/44770431-54a75100-ab68-11e8-9b8a-0e5be2786b26.png)

[2018-08-29 06:51] aonez commented on #275
Readed again, you have the "archive as single" option enabled and all the inputs selected are folders?

[2018-08-30 09:04] victorwoo commented on #275
Why not support create multiple ISO/IMG via "Send to Keka", just like other
compressed format files?

Best Regards,

Victor

aONe <notifications@github.com> 于2018年8月29日周三 下午2:50写道：

[2018-08-30 13:26] JARVIS-AI opened #276 "APK File info | New Keka Break QuicklookAPK"
Hello
Thanks for best clean archive manager

One issue that I have found,

There is one QuickLook plugin that show info about APK files
And there is another for IPA files

The new versions after 1.0.16 version corrupted this mechanism

Up to 1.0.16 version is OK

 I think because you design a new mime type and make a icon for it and this collision with APK quicklook plugin

But in new version IPA

[2018-08-30 14:35] aonez commented on #276
Hi @JARVIS-AI, can you share that pluguins? Thanks!

[2018-08-30 16:41] JARVIS-AI commented on #276
yes sure
i forgot its github page so i upload it here you can download it

https://www.dropbox.com/s/ebb3aunwzpofxi4/QuickLookAPK?dl=0

[2018-08-31 20:02] ProBackup-nl opened #277 ".xpi: automatic -> compresses to zip, should expand (.xpi is zip)"
Mozilla Extension files are ending in .xpi which is a disguise for a zip file.

I would **expect** Keka version 1.1.3 (2809) in Automatic mode to extract the files inside.

What happens? The .xpi is compressed to a .zip file.

[2018-09-04 10:09] gingerbeardman opened #279 "Squash"
Not 100% sure this is applicable, but I thought I would post it here for discussion.

https://quixdb.github.io/squash/

[2018-09-04 10:36] gingerbeardman opened #280 "Support for archives generated with yaa (command line)"
I just found out macOS has built-in tools to support compression using LZFSE (Apple's compression format that is very efficient, ie. it has a very good power-usage vs compression ratio).

![](https://imgur.com/2KNLyq7.png)

The in-built command, yaa, to compress/expand archives using a variety of algorithms:
- _algorithm (archive file header)_
- lzfse (pbze)
- lzma (pbzx)
- lz4 (pbz4)
- zlib (pbzz

[2018-09-04 10:50] gingerbeardman commented on #280
My tests, using 30MB of English and Japanese text.

### Keka
[code]

### LZMA
[code]

### LZFSE
[code]

### ZLIB
[code]

### LZ4
[code]

[2018-09-04 11:03] gingerbeardman commented on #280
My tests, using 755MB PlayStation game (CUE+BIN+jpgs).

### Keka
[code]

### LZMA
[code]

### LZFSE
[code]

### ZLIB
[code]

### LZ4
[code]

[2018-09-04 12:26] gingerbeardman commented on #280
Some additional references:

https://github.com/sskaje/unzip-lzfse
https://encode.ru/threads/2221-LZFSE-New-Apple-Data-Compression
http://fileformats.archiveteam.org/wiki/LZFSE

[2018-09-04 14:47] smycroft opened #281 "App Icon"
New icon is truly dreadful. Old icon was really excellent.

It's so bad I'm now looking for an alternative app for compress/decompress. New icon is unbelievably tacky.
People with Macs tend to care a bit more about aesthetics and the new icon had destroyed the neat appearance of this app and moved it into the "hobby app" category (kid in their bedroom knocking out code).

[2018-09-04 18:01] gingerbeardman commented on #281
Those are some strong views.

The new icon is by David Lanham, a very well known and respected designer.
https://mobile.twitter.com/kekaosx/status/1003952620539609088

But it's OK if you don't like it, because it's quite easy to replace the icon with your personal choice:
https://superuser.com/questions/37811/how-can-i-change-an-application-icon-in-mac-os-x

[2018-09-04 23:05] smycroft commented on #281
You need to read what I’ve written because your reply “_your view onto all "people_” when I’d said “_People with Macs tend to care_“. No need to exagerate to disagree.

And I did change the icon but the OS complains about it being a broken app and all it will do is move it to the trash.

Read the reviews on the app store where there are several reviews, many if which say how bad the new icon is -

[2018-09-04 23:36] gingerbeardman commented on #281
Try the Get Info paste method of changing the icon?

[2018-09-05 12:13] aonez commented on #281
Hi @smycroft, the new icon received mostly positive feedback but I understand that it can't be good for everybody, you're not the first asking for the old one.

If you like to use the old one instead, you can use the method linked by @gingerbeardman, that consists in two steps:

1. Open the "Get Info" panel of the new Keka.app
2. Drop the old Keka icon to the new Keka icon in the "Get Info" panel

[2018-09-05 12:50] aonez commented on #276
Thanks @JARVIS-AI. The plugin looks for UTI `com.android.package-archive` and Keka declares the `apk` package as `public.archive.apk`, that's why it breaks that one. I'm gonna send a pull update to the plugin repository, so it uses booth UTI and also the MIME type (most commonly used) `application/vnd.android.package-archive`.

Can you try this build?

[QuickLookAPK.qlgenerator.zip](https://github

[2018-09-05 16:05] aonez commented on #277
Added to the supported extraction list. Thanks for the tip! 👍

[2018-09-05 16:50] ParthPadg commented on #242
note: this is still happening on `1.1.3`, but the `defaults delete com.aone.keka Bookmarks` seems to have fixed it.

[2018-09-05 16:53] aonez commented on #242
@ParthPadg also the original file deletion part? Can you take a look if there are any Keka logs in the Console.app? Thanks in advance!

[2018-09-05 17:13] aonez commented on #280
Amazing report @gingerbeardman!

[2018-09-05 17:16] aonez commented on #280
I would love to test this

[2018-09-05 17:16] ParthPadg commented on #242
ah, sorry, I misread the original report. There wasn't any file deletion; I would double-click on a ZIP file, Keka would immediately crash, and the ZIP was untouched.

I found this in the Console:
[code]
hopefully that means more to you than it does to me! ;)

[2018-09-05 17:41] aonez commented on #280
Just tested that the YAA binary is sandbox usable... So Keka can directly use it from `/usr/bin/yaa` ✌️

[2018-09-05 17:56] gingerbeardman commented on #277
How about .IPA (also zip) and .JAR (also zip, I think)

[2018-09-05 17:56] ParthPadg commented on #242
[crashes.zip](https://github.com/aonez/Keka/files/2353980/crashes.zip)

[2018-09-05 18:05] bjesuiter commented on #242
It seems to be fixed right now. Thank you!

Am Mi., 5. Sep. 2018 um 19:56 Uhr schrieb Parth <notifications@github.com>:

[2018-09-05 18:13] aonez commented on #277
@gingerbeardman adding IPA too! JAR (along with APK and APPX) where added on 1.1.0 https://github.com/aonez/Keka/issues/170#issuecomment-380127696

[2018-09-05 18:42] aonez commented on #242
Glad to hear that @bjesuiter!

@ParthPadg those crashes where form the 1.1.2 version. If you find any problem with the current 1.1.3 let me know in a new issue! Thanks a lot for the feedback! :)

[2018-09-05 18:42] #242 closed

[2018-09-05 19:38] ParthPadg commented on #242
@aonez that's strange; I'm on 1.1.3...but my issue is resolved, so I'll hang tight for now. Thanks for such an awesome tool!

[2018-09-05 21:48] JARVIS-AI commented on #276
Yes this is work. Really good man you are in high rank top archiver with cool support (what am i saying ;) )

Completely Working with new version and the new qlgenerator is about 400 KB bigger than the original one and changes for UTI worked with added mime type to ql plugin

The qlgenerator that you have edited is completely working with new version and the icons are almost correct with both side

[2018-09-05 23:00] gingerbeardman commented on #280
I think Keka will be a trend setter for this archive format :) 👍

[2018-09-06 02:33] victorwoo commented on #275
OK, thank you all the same!

[2018-09-06 09:08] aonez commented on #275
I’m leaving it open, in case this limitation changes in the future :)

[2018-09-06 10:18] aonez commented on #276
Sure, I would wait for the [QuickLookAPK](https://github.com/hezi/QuickLookAPK) developer to merge the pull and then get it's own release. If there's some other changes needed in Keka, they'll be available in 1.1.4. Just shared a QuickLookAPK compiled version with you for test purposes :)

[2018-09-06 10:38] aonez commented on #279
Seems pretty cool. Building it...

[2018-09-06 12:31] gingerbeardman commented on #276
@aonez the Travis build has failed for that PR

[2018-09-06 12:34] aonez commented on #276
@gingerbeardman yep, the current source of that repo fails, nothing to do with the PR...

[2018-09-07 06:03] Very-Nice-App opened #283 "Unzipped app with Keka is not working, trying with built-in Mac app works"
Hello people,
this morning I've just downloaded an app, TinyAlarm, from its developer website.
I use Keka as default compression/decompression app.
The MD5 of ZIP is a72c1c019e450e45e8a30afddfe2df64.
If I try to launch the uncompressed package, I got the default popup from Mac that tells me I got a corrupted package and the option to Cancel or Move to Trash.
![2018-09-07 07 55 49](https://user-ima

[2018-09-08 06:59] aonez commented on #283
This one is a duplicate of #215. Not sure how to fix that one since Apple does not accept the use of a sandbox exception that solves that one.

[2018-09-08 06:59] #283 closed

[2018-09-08 07:15] aonez commented on #276
@JARVIS-AI the pull is already merged, although the compiled file is not updated. You can either use the one I've shared, compile it yourself or ask for it to be updated. Closing this one now :)

[2018-09-08 07:15] #276 closed

[2018-09-10 16:41] boettges opened #285 "Extracted .app stays in translocation"
Dear @aonez and other keka devs,

I am using Keka 1.1.3 and I use it as my default file archiver.

Running the application "Micro Snitch", downloaded as a zip-file from https://www.obdev.at/products/microsnitch kept giving me the usually just initial warning that I was about to run a application for the first time, asking me whether I was really sure that I want to open it. But no matter how often

[2018-09-11 11:28] aonez commented on #285
By the way I'm a long time user of [Little Snitch](https://www.obdev.at/products/littlesnitch/), do you recommend [Micro Snitch](https://www.obdev.at/products/microsnitch)?

[2018-09-11 11:36] boettges commented on #285
Thanks for your reply.
This is the confusing part. Translocation mode remained despite moving the .app to /Applications/. Actually the app has never been started from outside of the applications folder.

The same issue was causing iTerm2.app to ask me upon each start whether it should move itself to ~/Applications/.

Once I used the macOS bundled archiver to unzip those apps both warnings did not

[2018-09-11 11:40] aonez commented on #285
@boettges made a quick test and can't reproduce this, either with Keka or the bundled macOS archiver:

Translocation is affecting both equally. Until you move the application to another folder (Applications or Desktop) it will launch in a temporary path. Nothing to do here, as it is a macOS security feature.

[2018-09-11 11:42] aonez commented on #285
Can you reproduce those again?

[2018-09-11 11:51] boettges commented on #285
Yes, if I analyze the processes of the Micro Snitch app using activitiy monitor it clearly shows that the keka-unzipped one is running in translocation, despite being executed from within /Applications/.

Keka unzipped "Micro Snitch.app":

macOS bundled archiver unzipped "Micro Snitch.app":

It might require a restart of the app after a reboot of the system to see the warning.

[2018-09-12 20:48] advicepyro opened #286 "Cannot cancel an archiving operation"
This is on Keka 1.1.3.

I drag files to the window to compress them.  I have "ask each time" enabled, so the file picker opens. I cancel the file picker. Keka still shows the operation window, and I have to quit the app to close that window.

[2018-09-13 09:01] aonez commented on #286
Thanks a lot for the tip @advicepyro! Fixing it right away 👍

[2018-09-17 10:08] aonez commented on #285
@boettges Just reproduced it, but not consistently. It affected a couple of applications. The workaround was moving them to the Desktop and back to the Applications folder.

[2018-09-17 10:26] aonez commented on #285
This is kind of random. Different applications, same quarantine, some open without translocation, some keep the quarantine thus open with translocation.

[2018-09-18 09:32] #201 closed

[2018-09-18 09:34] aonez opened #288 "Toolbar icons missing in MAS version"
Following the addition of assets for better image performance, the toolbar icons are unavailable on the MAS version. Only affects to the non unified toolbar (legacy, mostly for use in Mac OS X 10.9) and the Preferences -> Compression item.

[2018-09-18 12:09] boettges commented on #285
@aonez Maybe it is worth waiting another week for macOS 10.14 to be released and observe the behavior again.
With what apps were you able to reproduce this behavior? Maybe I can try those to check whether it occurs independent of the machine?

Thanks a lot 👌

[2018-09-18 19:19] aonez commented on #280
/move to aonez/Keka-Private

[2018-09-18 19:20] aonez commented on #280
/move to aonez/Keka-Private

[2018-09-18 19:20] #280 closed

[2018-09-21 07:48] aonez commented on #267
@zdlo can you check 1.1.4?

[2018-09-21 15:36] aonez commented on #267
@zdlo Could you check this build? https://t.keka.io/Keka-1.1.4-norarcheck.7z

[2018-09-21 15:51] aonez commented on #267
@zdlo If it also fails, could you give me more information about the RAR volumes you use? Total size, number of volumes, format (4 or 5)... Or if you can share them it will be awesome.

[2018-09-22 00:58] zdlo commented on #267
Still no change.

The log shows what happened when I attempted to extract two RAR archives that had 10 50MB volumes each. I had also tried it with various different archives with more volumes of 50MB each. Not sure how to see their format.

[2018-09-22 12:33] zdlo commented on #267
Yes, their extensions are .rar, .r00, .r01 and so on.

[2018-09-22 12:44] aonez commented on #267
@zdlo makes any difference if instead

you drop the files to the Dock icon or the Advanced Window?

Here you have two test files, let me know if they also cause the issue: [test.zip](https://github.com/aonez/Keka/files/2407785/test.zip)

[2018-09-22 13:00] aonez commented on #138
Cosing this one on favor of #90. The reason is the same.Thanks for the sample @unamundan!

[2018-09-22 13:00] #138 closed

[2018-09-22 13:07] zdlo commented on #267
Same result in all three ways.

Test files extracted fine. Perhaps something to do with the volume sizes, or the compression method? I've tried with different archives from different sources, and the one thing in common was the volumes being large (~50MB).

[2018-09-22 13:45] aonez commented on #267
I’ve tested with 100MB volumes before and did not crashed.

Can you share with me some of these files? You can contact via mail/Twitter also...

[2018-09-24 08:00] aonez commented on #215
As reported via mail, [Sublime Merge](https://www.sublimemerge.com/download) also has this issue, with the addition that it does render the package "unidentifiable" and it can't be opened:

![screen shot 2018-09-24 at 09 57 28](https://user-images.githubusercontent.com/480163/45941891-833a0f80-bfe0-11e8-8a26-f1ce5d7a7a1d.png)

A workaround is right click (or control click) and Open:

![screen shot

[2018-09-24 08:40] aonez commented on #267
Turns out the issue was in the file access check. Dropping two or more files that are stored in different folders causes an infinite bucle. It affects compression and extraction.

Thanks a lot for spotting this and all the subsequent feedback, @zdlo 👍

[2018-09-24 08:59] aonez opened #289 "Add Blu-ray capacities to the split combo"
As requested by Bruce [here](https://forum.keka.io/viewtopic.php?f=6&p=2984#p2984).

- https://en.wikipedia.org/wiki/Blu-ray
- http://www.hughsnews.ca/faqs/authoritative-blu-ray-disc-bd-faq/9-disc-capacity

[2018-09-24 10:09] aonez commented on #285
@boettges I've tried with multiple third party apps (+15). But they where all compressed by me, and applied a quarantine myself for the test.

I'll check later today with the official Mojave release, but not sure it will make any difference. Also the test will be done with a notarized build of Keka, again don't think it will change anything.

[2018-09-25 15:35] davidysoards commented on #248
i'm having this same problem with 1.1.4 Both .DS_Store and _MACOSX folder are showing up in files opened on windows.

[2018-09-26 18:09] aonez commented on #248
@davidysoards what format are you using?

[2018-09-27 10:52] GuillaumeBringard commented on #288
Hello

I just bought Keka from the Mac App Store (Version 1.1.4 (2867)), but it's still missing one icon (the second one) in the Preferences tab, see screenshot (with relevant Console log in the background)
![keka_missing_icon](https://user-images.githubusercontent.com/43640074/46141448-3bbbb980-c254-11e8-9ef4-80f59d20d3f4.png)

Best regards

[2018-09-27 10:55] aonez commented on #288
Yes, sorry @GuillaumeBringard. The fixed version 1.1.5 was pushed last Friday, but is being hold by the Apple reviewer. Hope to release it very soon.

[2018-09-27 13:35] davidysoards commented on #248
.ZIP
I also don't like how it creates a folder within a folder, unlike the default Mac compress behavior.

[2018-09-27 13:42] aonez commented on #248
@davidysoards Keka does not create the `_MACOSX` folder, so maybe you're creating those ZIP files with the bundled compressor?

Can you give me an example so I understand this on better?

[2018-09-27 13:49] davidysoards commented on #248
i had set Keka as the default compressor using the helper KekaDefaultApp. I right-clicked a folder, selected compress and it created .zip folder. When I would open that zip, there would be another folder just like the one I had right clicked initially and also a _MACOSX folder inside.

[2018-09-27 13:58] aonez opened #291 "Change default app button text"
Right now it says "compressor/uncompressor". Remove the compressor part, since it does not replace the default `Compress "file.ext"` option in the context menu.

Thanks to this comment: https://github.com/aonez/Keka/issues/248#issuecomment-425099867

[2018-09-27 14:00] aonez commented on #248
@davidysoards the `Compress "file.ext"` option cannot be overridden by Keka. When you set it as the default application, this is only true for extraction. I must change that button text #291.

You can use the Keka services, that are in the bottom of the context menu:

![screen shot 2018-09-27 at 15 54 59](https://user-images.githubusercontent.com/480163/46151123-60248f80-c26e-11e8-9a18-c2ed1c7a3cd

[2018-09-27 14:15] gingerbeardman commented on #248
How do you get those Services to list in the menu? Mine are all in a Services sub menu.

[2018-09-27 14:16] aonez commented on #248
@gingerbeardman if you have more than four services, the group in the sub menu 😞

[2018-09-28 07:47] aonez opened #292 "Finder App Extension"
Maybe a better replace for the Services?

Suggested here: https://github.com/aonez/Keka/issues/248#issuecomment-425194824

[2018-09-28 07:48] aonez commented on #248
@gingerbeardman added #292 to talk about it.
@davidysoards please open a new issue if you still have problems with this.

[2018-09-28 10:10] aonez opened #293 "Unzipped application is damaged and can’t be opened and you should move it to the Trash"
Some applications contained in a ZIP package appear to be damaged after being extracted by Keka.

![screen shot 2018-09-28 at 12 03 42](https://user-images.githubusercontent.com/480163/46202610-966a1980-c317-11e8-9932-1bb836c34dd5.png)

~In fact, the app is not damaged at all, but the system applies a quarantine flag that renders it unusable. Since Keka is sandboxed, right now there's no permanent

[2018-09-28 10:19] aonez opened #294 "Unzipped application can’t be opened because it is from an unidentified developer"
Similar to #293, some applications contained in a ZIP package appear to be unsigned (from an unidentified developer) after being extracted by Keka.

![45941891-833a0f80-bfe0-11e8-8a26-f1ce5d7a7a1d](https://user-images.githubusercontent.com/480163/46203018-bbab5780-c318-11e8-8e77-b3f43114cd10.png)

~In fact, the app might be properly signed, but the system applies a quarantine flag that may render

[2018-09-28 11:14] alvarnell commented on #293
This hasn't been my experience, in fact I found just the opposite was true in #176 <https://github.com/aonez/Keka/issues/176>. Perhaps I need to do some checks with the latest version.

I also don't understand how the application of a quarantine flag would prevent a legitimate app from being used. All the quarantine flag does is cause the file to be scanned by XProtect to find known malware and by

[2018-09-28 13:08] gingerbeardman commented on #293
Can anybody compare the app before and after extraction? Package contents, binary, attributes on all files?

[2018-09-28 15:14] aonez commented on #293
Maybe a md5 or similar is enough

[2018-09-28 17:12] aonez commented on #294
Turns out the Sublime Merge package contains extended attributes in `._` files. Keka does not apply those files, and that results in the signature check failure. Thanks to @alvarnell and @gingerbeardman for the feedback in #293.

[2018-09-28 17:16] aonez commented on #294
It was reported here: https://forum.sublimetext.com/t/invalid-code-signature-after-self-update-on-macos/39387

[2018-09-28 17:29] aonez commented on #293
Thanks @gingerbeardman for that. xScopre package and Sublime Merge (from #294) have extended attributes files inside. The bundled macOS archiver applies them, Keka does not. Those files might be the reason of those issues.

@alvarnell you were right, removing the quarantine just skips the signature/integrity check. The problem is not in the quarantine files.

[2018-10-01 11:05] TCB13 opened #295 "Official RARLAB binaries + Create RAR files!"
Hello, many thanks for this great App, I've been using it for a while and as we all know it lacks the ability to create RAR files. I believe this restriction is due to legal issues related to RARLAB's products, however I'm going to point a few things.

- Keka already uses RARLAB code but "Modified by aONe for use in Keka";
- Archiver for Mac has the ability to create RAR files using the RARLAB's o

[2018-10-01 11:14] aonez commented on #295
Thanks a lot for the feedback @TCB13!

About the modified binary, it just uses a few patches so updating to newer versions is very quick. Usually is more about knowing when they're released.

About RAR compression, I've already contacted with RARLAB and they did not gave permission to bundle the binary. Using an external binary is not allowed in sandbox, so I'm not sure what Archiver does there. I

[2018-10-01 11:17] aonez commented on #295
Relative to #123

[2018-10-01 11:38] aonez commented on #295
I was just looking at this 😂. So the web version is not sandboxed and can use it. I'm currently sandboxing both MAS and WEB versions so the development works for both. Maybe in the future sandbox will be required for all macOS apps.

Anyway maybe I should give an non-sandboxed alternative download. This makes me think about the issues I'm having in the Apple Store review process for asking file ac

[2018-10-01 11:41] aonez commented on #295
I forgot to mention that RAR compression was developed for Keka 1.1.0, but sandbox killed that development. You can still try (and use) this in [Keka-1.1.0-rc.1](https://github.com/aonez/Keka/releases/tag/v1.1.0-rc.1).

[2018-10-01 11:52] TCB13 commented on #295
I believe Keka's permission system is very, very well implemented. The preferences allow users to control in an easy and transparent way what Keka has access to and this is very good, however I would give up the sandbox for a version that could use RARLAB's binaries.

If you consider this "non-sandboxed alternative" please note one thing where Archiver fails: Archiver always downloads some old ver

[2018-10-01 11:58] aonez commented on #295
Thanks a lot for that :)

Noticed that, 5.00 version, but since your screenshot had 2018 version thought it was just my case.

The rc.1 version (and newer, although inactive in sandbox) uses the user installed binaries, so no problem there. Implementing the download will be the improvement in Keka, was suggester in #295.

[2018-10-01 12:04] TCB13 commented on #295
I replaced the binaries myself due a to a bug where the old version crashed with some RAR files protected by password. But as you saw, by default it uses a very old version.

The fact the I could replace the binaries without issues just proves that the CLI tools output is very stable.

[2018-10-01 12:07] aonez commented on #295
Just for the record, this was the capture of the downloaded by Archiver:

![screen shot 2018-10-01 at 13 37 02](https://user-images.githubusercontent.com/480163/46287533-22cc4480-c583-11e8-9223-1528fbc4fa9f.png)

[2018-10-01 12:08] aonez commented on #123
@gingerbeardman just tested Context Menu, and it uses Automator workflows to elude sandbox. This is very interesting, not sure if it's useful for Keka, but it surprised me that a sandboxed app can launch commands outside the sandbox with this trick.

[2018-10-01 12:13] aonez commented on #123
By the way, [another app](https://itunes.apple.com/us/app/extractor-extract-rar-zip-7z-bzip2-cbr-files/id747644886?mt=12) from the Context Menu developer seems like The Unarchiver for me...

[2018-10-01 12:21] youliyuan2005 opened #296 "A BUG"
Keka there will be garbled when decompressing the file of Chinese file name.

the video of the bug:
https://pan.baidu.com/s/1ziemVYwCrr6X7Qm9OzWRpg

[2018-10-01 13:11] aonez commented on #296
Thanks a lot for the feedback @youliyuan2005! This is a known issue, I'm closing this ticket in favor of https://github.com/aonez/Keka/issues/12.

[2018-10-01 13:11] #296 closed

[2018-10-02 18:18] advicepyro opened #297 "Suggestion: for .app, use its original filename for default extraction location"
I might be misremembering, but in older versions of Keka when I extract an archive containing a .app, and I opt to have Keka prompt me each time where to extract the files, the .app takes on its original name. For example, extracting FileZilla from `FileZilla_3.37.1_macosx-x86.app.tar.bz2` produces `FileZilla.app`

Now this continues to apply if I have Keka extract beside the archive or in the fol

[2018-10-02 18:51] aonez commented on #297
Thanks for the feedback @advicepyro! This was indeed changed in 1.1.X, can't remember exactly the revision.

I'll consider to do this when possible and only if the file contains one file or bundle (.app being a bundle), since it makes sense to keep the original name.

[2018-10-03 17:28] andyliu24 opened #299 "How to modify the encoding method?"
I am a native Chinese speaker. I have to receive files from Windows that are encoded in GBK, but keka will treat them as ANSI, so the extracted files are garbled.

How do I choose the encoding method of the files when decompressing? (It seems that Unarchiver could handle it)?

![123](https://user-images.githubusercontent.com/24978668/46427731-bb75e680-c774-11e8-9375-75b657c6bef4.jpg)

[2018-10-03 19:01] aonez commented on #299
@andyliu24 this is a know issue #12. Sadly no fix yet, but I'm working on it. Hopefully would not take too much time until this is fixed.

I'm closing this ticket in favor of #12. Thanks for the feedback :)

[2018-10-03 19:01] #299 closed

[2018-10-05 23:26] LivorMortis opened #300 "Revert/change to the original/old icon, please!"
The new icon is quite ugly. It was much better the old one. Please, consider redesigning the icon or reverting to the old one. Thanks for your attention.

[2018-10-05 23:31] gingerbeardman commented on #300
You can do this yourself: see https://github.com/aonez/Keka/issues/281

[2018-10-06 01:01] LivorMortis commented on #300
I can live with the new icon anyway. Replacing the icon by the "get info" method is not a solution, just an illusive patch. It's ok, it was just a suggestion. The old icon was perfect, though. The new one is not that bad, perhaps a bit naive. That's all. Thanks for your help.

[2018-10-07 11:16] aonez commented on #300
Thanks @LivorMortis for the feedback. You’re not the first or the last to dislike the new icon... it’s really hard to do something that all people like. I’ll try to twek the brightness and the color of it, but the old one can’t be used anymore, just in the legacy versions. You can apply it with the “Get Info” as pointed by @gingerbeardman, I get is not what you want though.

[2018-10-08 13:33] ejb4u opened #302 "Correct French translations"
There are some translations missing in French.
I've uploaded the latest files and added the missing translations. Some non consistencies were also corrected.
The translation files are attached.
[KekaFrench.zip](https://github.com/aonez/Keka/files/2456097/KekaFrench.zip)

[2018-10-08 15:20] GregoryBonar opened #303 "Extraction of RAR file failed"
since upgrading to Mojave I cannot extract RAR files.
Error code 9 using "unrar"
"Can't create the file, maybe you don't have permission or free space"

[2018-10-08 16:30] aonez commented on #303
Hi @GregoryBonar. It only affects RAR files? Can you check with this file: [test.txt.rar.zip](https://github.com/aonez/Keka/files/2456810/test.txt.rar.zip)

If it does affect all files, not only RAR files, please remove the file access and add it again in the Keka Preferences - File Access panel.

[2018-10-08 17:15] aonez commented on #302
Thanks a lot @ejb4u! You can check this build with your changes: [Keka-r2952-fr.7z](https://t.keka.io/Keka-r2952-fr.7z)

How would you like to appear in the credits?

[2018-10-08 20:17] GregoryBonar commented on #303
I can open ZIP files.
How do I find "Keka Preferences - File Access panel"?

On Mon, Oct 8, 2018 at 9:30 AM aONe <notifications@github.com> wrote:

[2018-10-08 21:30] Skoti opened #304 "Keka crash on launch"
Keka crashes on launch. I have tried reinstalling but it did not help.

Full crash log:
[code]

[2018-10-09 06:34] aonez commented on #303
@GregoryBonar you've tested the test file in the above comment? Inside the ZIP there's a RAR you can test: [test.txt.rar.zip](https://github.com/aonez/Keka/files/2456810/test.txt.rar.zip)

As for the File Access:

![test](https://user-images.githubusercontent.com/480163/46650772-186f0380-cb9e-11e8-82cc-a979326536fb.gif)

But if you only have problems with RAR, I'm thinking of a specific error. Ple

[2018-10-09 06:44] aonez commented on #304
@Skoti can you remove the Keka preferences and try again?

You can remove them manually or with this command:

[code]

This line of code also copies the Keka preferences file to your Desktop, so in case deleting this solves the issue, you can ZIP that file and attach it here so I can test and better improve Keka.

Manually just remove the folder `com.aone.keka` you'll find in your user's `Library/

[2018-10-09 07:28] Skoti commented on #304
@aonez
Thanks for a reply. Removing the preferences file solved the issue.
Here is the previous preferences file:
[com.aone.keka.plist.zip](https://github.com/aonez/Keka/files/2459282/com.aone.keka.plist.zip)

[2018-10-09 07:28] #304 closed

[2018-10-09 07:30] aonez commented on #304
Thanks a lot for the file @Skoti :)

[2018-10-09 18:46] aonez commented on #303
Great! Hopefully this will be easier in future versions.

[2018-10-12 14:00] thejasonparker opened #305 "[REQ] Remove file extension from compression name"
Currently when single files are compressed the archive name includes the file extension.

`bigimage.jpg -> bigimage.jpg.7z`

Could you have an option in the preferences which removes the file extension from the archive name?

`bigimage.jpg -> bigimage.7z`

[2018-10-12 22:33] bisherbas commented on #213
1.1.4 on macOS Majova and having this problem. Any thoughts?

[2018-10-12 23:19] aonez commented on #213
@bisherbas can you try this:
https://github.com/aonez/Keka/issues/304#issuecomment-428078742

Let me know if it helps.

[2018-10-13 10:44] aonez commented on #305
The current behaviour:

- If the source file has the extension visible add the extension to the output file
- If the source file has the extension hidden don't add the extension to the output file

The enhancement will add:

- [ ] Option in compression preferences to always exclude the extension
- If the option is enabled:
  - [ ] If the format does not inherit the source file name exclude the ext

[2018-10-13 11:04] gingerbeardman commented on #305
FWIW I prefer the original way because it is the same as macOS in-built Archive Utility

[2018-10-13 19:46] aonez commented on #305
@gingerbeardman this will be an addition with an option, it will not replace the default behaviour 👍

[2018-10-14 14:23] meminens opened #306 "File access popup appears always after upgrading macOS"
Every time I start Keka following popup message shows up:

![screen shot 2018-10-14 at 18 54 56](https://user-images.githubusercontent.com/480163/46919648-ab66ce00-cfe2-11e8-85e1-8cb3bb40b522.png)

I click on the Give Access button and navigate to my home directory and click again on the Give Access button. This problem started happening after upgrading to Mojave.

`Keka v1.1.4`

[2018-10-14 16:52] aonez commented on #306
Hi @bisherbas! Can you remove the access and add it again using the File Access Preferences panel?

![test](https://user-images.githubusercontent.com/480163/46650772-186f0380-cb9e-11e8-82cc-a979326536fb.gif)

Let me know if this helps.

[2018-10-14 21:16] bisherbas commented on #306
Hi there! Thanks for the response. I did what you asked but it did not make any difference. Every time I launch Keka, the same popup message in the OP shows up.

[2018-10-14 21:17] aonez commented on #306
@bisherbas can you remove the "Home folder access" element from the list, restart your computer and try this again? Maybe the system banned Keka from permanent file access for your current session.

[2018-10-14 21:33] aonez commented on #306
@bisherbas I'm not sure if you replied editing your last comment, did you've tried restarting your Mac?

If even then if fails, please enable the [default console log mode](https://github.com/aonez/Keka/wiki/Console-verbose#default) and let me know what Keka prints in the `Console.app` when you remove/add file access and when the popup shows.

[2018-10-15 01:00] bisherbas commented on #306
@aonez Yes I am able to remove the "home folder access" but removing and re-adding it doesn't make any difference meaning that next time I launch Keka it still requests home access. I did reboot several times and rebooting did not have any effect. Please see the Console output relevant to Keka:

[code]

[2018-10-15 01:58] 7s3 opened #307 "Quit Keka after Extraction"
Is it possible to have Keka quit after extraction?
I have the feature enabled that closes the app when there are no windows open, but unfortunately it doesn't do what I mentioned above.

Thanks!

[2018-10-15 07:06] aonez commented on #306
This is weird. Did you get Keka from the website https://www.keka.io?

Try deleting the Keka container first: https://github.com/aonez/Keka/issues/304#issuecomment-428078742

[2018-10-15 07:12] aonez commented on #307
@7s3 would be amazing if you can share with me the Keka preferences file so I can try to replicate this issue. It is located here:

[code]

Just zip this `plist` file and upload it here.

Then, take a look at this thread, this might fix your issue: https://github.com/aonez/Keka/issues/200#issuecomment-395018033

Let me know if that helps.

[2018-10-15 07:49] 7s3 commented on #307
I already had the "Quit after extraction" setting checked, but I toggled it off and on.
Maybe the setting wasn't sticking?

plist before:
[com.aone.keka.plist.zip](https://github.com/aonez/Keka/files/2477802/com.aone.keka.plist.zip)

plist after:
[com.aone.keka.plist 2.zip](https://github.com/aonez/Keka/files/2477837/com.aone.keka.plist.2.zip)

This feature seems to be working now, although it tak

[2018-10-15 07:58] aonez commented on #307
Thanks @7s3! I'll test with the preferences file 😊

This is a feature, so in case you click on the notification that appeared on Notification Center Keka can handle it properly. You can disable this feature though:
`GrowlBlocksExit ` [wiki/Hidden-configuration#notifications](https://github.com/aonez/Keka/wiki/Hidden-configuration#notifications)

[2018-10-15 08:03] aonez commented on #304
Thanks again @Skoti, just tested the file and it was a bad file access bookmark being imported. Maybe you've updated from Keka 1.0.0-1.0.1 to 1.0.4. I fixed the code that produced this crash, so in the future this will not happen again :)

[2018-10-15 08:04] 7s3 commented on #307
Working perfectly now, thanks!

[2018-10-15 08:20] aonez commented on #307
Sadly the plists files are virtually identical, with the proper value set to quit. So, again as in #200, I'm not sure what is happening here. Will leave this issue open as a workaround for others.

[2018-10-15 13:03] bisherbas commented on #306
Yes I did get Keka from the website. Deleted the Keka container and rebooted my Mac. Still the same :(

[2018-10-15 14:42] bisherbas commented on #306
@aonez. It's just a Macbook Air. I have removed Keka and installed the linked test version. Problem appears to have been resolved. No more repetitive requests for home access. Thank you!

[2018-10-15 15:08] aonez commented on #306
Cool @bisherbas! Maybe just removing that Keka.app and redownloading again was the solution... 👍

[2018-10-15 15:17] bisherbas commented on #306
@aonez You're definitely right. I did remove the test version and installed from keka.io. All good!

[2018-10-15 20:34] Skoti commented on #304
@aonez
No problem, I am glad it helped.

[2018-10-16 14:01] ejb4u commented on #302
[Localizable.strings.zip](https://github.com/aonez/Keka/files/2483339/Localizable.strings.zip)
There was a space missing in the Localizable.strings file. Here is the latest release.

You can add me as "Ejb4u", it's fine, it's my developer name ;-)
But the credit also goes to a friend who reviewed all the translations and who found some improvements. Could you please add him to the credits as "Jayf

[2018-10-16 14:41] aonez commented on #302
Thanks a lot @ejb4u! I'll add both of you :)

Version 1.0.5 was blocked in the MAS review process, so I was forced to rework (again) some of the file access elements of Keka before a new release can be publicly available. Hopefully no more than two weeks...

[2018-10-18 17:59] jsilverman-blispay opened #308 "Getting "failed to create bookmark" when starting keka"
I have a user that is getting "failed to create bookmark" when opening keka.

Please advise.
-JDS

[2018-10-18 20:34] aonez commented on #308
But the application opens? Go to Keka - Preferences and delete all the file access:

https://github.com/aonez/Keka/issues/306#issuecomment-429642359

[2018-10-19 05:19] aonez commented on #308
@jsilverman-blispay the application opens? Go to Keka - Preferences and delete all the file access:
![test](https://user-images.githubusercontent.com/480163/46650772-186f0380-cb9e-11e8-82cc-a979326536fb.gif)

[2018-10-19 07:29] #291 closed

[2018-10-19 07:30] #289 closed

[2018-10-19 07:30] #297 closed

[2018-10-19 17:30] agottardo opened #309 "Correct Italian translation"
Posting this here since I am unable to open a PR due to permissions.

Two strings were missing in the Italian translation files. I have also corrected one that sounded a bit weird. I am attaching it here. Let me know if you need anything.

[it.lproj.zip](https://github.com/aonez/Keka/files/2496741/it.lproj.zip)

[2018-10-20 06:51] aonez commented on #309
Thanks @agottardo! Let me check with the current translator (Vincenzo) but the proposed change look good to me 👍

[2018-10-20 20:29] bisherbas opened #311 "Unable to extract a .tgz file"
This one in particular: `https://download.configserver.com/csf.tgz`

Receiving an `Unknown error`.

![image](https://user-images.githubusercontent.com/42714627/47260227-3d5c5400-d485-11e8-9d06-9d1b8f90386a.png)

Archive Utility app is able to extract the file properly.

Environment:

`Keka v1.1.4`
`macOS Mojave`
`Macbook Air`

[2018-10-20 21:31] aonez commented on #311
Just to test what I'm saying:

- Rename `csf.tgz` to `csf.gz` and extract it
- Add a `.gz` extension to the resulting file and extract it
- Add a `.tar` extension to the resulting file and expand it

[2018-10-20 21:32] aonez commented on #311
It seems all packages from `https://www.configserver.com` are compressed in the same way...

[2018-10-20 21:38] gingerbeardman commented on #311
I wonder that that website is using to compress in this funky way?

[2018-10-20 21:42] aonez commented on #311
Yeah @gingerbeardman, I suppose they must have some reasoning or maybe just a script issue.

[2018-10-20 22:00] gingerbeardman commented on #311
Yes, most likely an alias or shortcut that was "set and forget"

[2018-10-20 22:15] aonez commented on #311
Just added a post to their forum: https://forum.configserver.com/viewtopic.php?f=6&t=11007

Anyway this should be fixed in Keka too. Thanks @bisherbas for the feedback!

[2018-10-20 23:40] bisherbas commented on #311
Awesome! Thank you.

[2018-10-24 15:43] gkillmaster opened #313 "With Mojave update 10.4, Keka fails with this dialog "Error code 2 using "p7zip"; Fatal Error""
Has been working for years and all of a sudden its not working. Would love some hints on where to look for the problem?

Best,

Greg

[2018-10-24 15:56] aonez commented on #313
Try this one: https://github.com/aonez/Keka/issues/306#issuecomment-429642359

Let me know if that doesn’t help.

[2018-10-24 16:20] gkillmaster commented on #313
Thank you! It didn't work at first but I was eventually able to finagle it into working so thanks alot for pointing me in the right direction. I'm not sure how I ended up getting it to work but I think the act of resetting access did help finally. Then I had to figure out how to get it to be my default decompressor. It kept being reset. The app didn't work for that, but setting it manually did. Ap

[2018-10-24 16:28] aonez commented on #313
Glad it works now! Sandbox is being a nightmare, 1.1.5 will come with lots of changes for that, hopefully no more problems then.

[2018-10-24 16:29] gkillmaster commented on #313
Thanks so much for all the work. I'd hate to be without it! :)

[2018-10-24 16:33] #313 closed

[2018-10-24 17:05] amohap2 opened #314 "Keka doesn't open in Mojave"
Keka was working before upgrading to Mojava. Now when I try to open i, it keeps trying to open and qui t the app. No way to force quit since process keeps trying to open and then close causing disruption.

[2018-10-24 17:08] amohap2 commented on #314
Eventually got this error.
https://puu.sh/BQhGe/f17e82d378.png

Trying to redownload from app store didn't work.

[2018-10-24 18:31] aonez commented on #314
Can you try to delete the Keka preferences? https://github.com/aonez/Keka/issues/208#issuecomment-397872166

Let me know if this helps :)

[2018-10-25 17:45] PsukheDelos commented on #314
That worked @aonez! 😀Nice!

[2018-10-26 05:35] #308 closed

[2018-10-26 09:58] #220 closed

[2018-10-29 18:45] csydas commented on #27
Would like to add that I was experiencing this, and non-latin characters in the filename were causing the issue for me.

I had a compressed file l11vilkenläkare2, and the umlaut was throwing the problem. By changing to a, it works for me on the file.

[2018-10-29 23:55] aonez commented on #27
@csydas can't reproduce it. Can you share that file? Was it a ZIP?

[2018-10-30 17:07] csydas commented on #27
Hi, sure. The file is here: https://mega.nz/#!bTgVmaiY!ZChfQHfjZ40Cc_HRSXqQKjhgo7XjQWVnY9sgB5nmxwI

it is .7z, ~ 330 MB.

[2018-10-30 17:19] aonez commented on #27
@csydas thanks! It is password protected though...

[2018-10-31 15:52] excellinked commented on #314
Hello! Exactly same issue over here. I run the command to delete Keka preferences with Terminal, but it says: "No such file or directory". Either reinstalled or uninstalled Keka

[2018-10-31 16:15] aonez commented on #314
@excellinked MAS o WEB version?

[2018-10-31 16:23] csydas commented on #27
If you're getting to a password prompt you are getting further than I am, as immediately opening the file resulted in the error for me.. I must be on an out of date version or something. Please disregard then and thank you for your time.

[2018-10-31 16:47] excellinked commented on #314
Hello @aonez Mac-Mojave Apple Store

[2018-10-31 20:05] PsukheDelos commented on #314
Just for more info, I am using the WEB version. Keep up the good work!

[2018-11-01 07:32] aonez commented on #27
@csydas if you replicate this again let me know! Maybe it was a problem with the file access rather than the filename.

[2018-11-01 11:17] aonez commented on #302
@ejb4u 1.1.5 released with your updates! Thanks again 😁

[2018-11-01 11:17] #302 closed

[2018-11-01 11:19] aonez commented on #288
1.1.5 released! The update should appear soon on MAS 😊 Thanks @GuillaumeBringard for the feedback!

[2018-11-01 11:19] #288 closed

[2018-11-01 11:20] aonez commented on #267
Version 1.1.5 released with this one fixed! Thanks @zdlo and @gingerbeardman for the feedback!

[2018-11-01 11:20] #267 closed

[2018-11-01 11:21] aonez commented on #314
@excellinked 1.1.5 version was just released, please check out the update and let me know if you still have trouble with Keka.

[2018-11-01 22:11] applebait opened #317 "Compression options for tarball are disabled"
I can't remember the exact version but it isn't possible to change the tarball creation compression settings.
TIA

[2018-11-02 07:48] aonez commented on #317
@applebait I'm not sure what you mean.

Note that TAR does not compress data, so no method selection here:

![screen shot 2018-11-02 at 08 47 22](https://user-images.githubusercontent.com/480163/47900081-ecccf980-de7b-11e8-9710-746d8c52e67c.png)

For GZIP, BZIP, XZ and LZIP, you can choose the method. Those are the TARBALLs:

![screen shot 2018-11-02 at 08 47 31](https://user-images.githubusercont

[2018-11-02 16:08] excellinked commented on #314
Hello. I confirm issue was resolved with latest update.
Thank you!

[2018-11-02 16:41] hipunk commented on #18
Today I updated to 1.1.5 and this error happened to me with a 30,85 GB (according to Finder) large UDRO DMG source file I cannot share with you. Rolled back to 1.1.4 and it works flawlessly again. This has never occured to me before and I regularly use 7zip on files larger than 4 GB.
Just letting you know!

[2018-11-02 17:38] applebait commented on #317
![screen shot 2018-11-02 at 17 35 20](https://user-images.githubusercontent.com/44685612/47931085-b5833a80-dec5-11e8-8238-9e4b438c9b19.png)
If you go to the Preferences the Default method for TAR is greyed out. In the past we could set the level of compression for a tarball, not that it's what I want, I need it to compact a file always without compression, and if you say so, so in the past there w

[2018-11-06 23:37] jrallen9 commented on #18
I can shed some light on this error. From my Mac environment after enabling logging (and searching console.app for 'keka') I found this error:

`ERROR: stat error for /<omitted>/target/generated-sources/annotations/. (Permission denied)`

Looks like the directory 'annotations' was missing the owner:execute bit (644).

[2018-11-07 07:50] aonez commented on #116
This should be improved for all formats. Thanks @ninjamode for the feedback and sorry for the very late reply.

[2018-11-07 07:52] aonez commented on #18
Thanks a lot @jrallen9! Clearly this can be solved by improving the error messages displayed #116.

[2018-11-07 09:07] aonez commented on #317
@applebait just checked and even version 0.1.2.1 (from 2009) has this option disabled in the preferences. This was the behaviour since the first begging, since TAR has no compression and this combo is useless there. GZIP, BZIP, XZ or LZIP can create tarballs and since they provide compression the combo is activated.

It was funny to check out 2009 work anyway. Thanks for the feedback @applebait 😊

[2018-11-07 09:07] #317 closed

[2018-11-07 18:40] olderor opened #319 "Typo in russian localization"
Text on the button "Enable home folder access" in the "File Access" window must be "Дать доступ к домашней папке" instead of "Дать доступ к доашней папке" (letter 'м' is missing).

<img width="649" alt="2018-11-07 20 32 30" src="https://user-images.githubusercontent.com/11135046/48152427-8822fc00-e2cc-11e8-9ca8-0377ee0dc320.png">

[2018-11-07 18:43] olderor commented on #319
#320

[2018-11-07 20:46] #319 closed

[2018-11-07 20:47] aonez commented on #319
Really the Dark Mode looks so great.

[2018-11-08 06:59] aonez commented on #317
You can upload it to YouTube/Dropbox or your preferred site and attach the link :)

[2018-11-08 16:17] applebait commented on #317
Oh boy, you're right! :) I'm really sorry! I've checked and as soon as I choose the TAR method again the compression field gets greyed out. What was tricking me was this compression option that if we choose ZIP with some compression as soon as we choose TAR we can't switch it back to No Compression. This now makes sense if you say the TAR is a file with no compression.

[2018-11-11 16:47] gingerbeardman opened #321 "Pause || icon is blurry compared to stop icon X"
on my Retina MBP
<img width="65" alt="screen shot 2018-11-11 at 16 45 14" src="https://user-images.githubusercontent.com/49612/48315691-67f78380-e5d1-11e8-982f-53c7ec464466.png">

...enhance!

<img width="195" alt="screen shot 2018-11-11 at 16 45 14 2" src="https://user-images.githubusercontent.com/49612/48315695-780f6300-e5d1-11e8-9a11-b27e862be2a8.png">

[2018-11-11 17:57] MaxPower85 opened #322 "Trying to compress a file with "≠" in it's filename causes an error"
For TAR and LZIP it seems to work fine... but with other formats it seems to either just show an error "Fatal error" and not compress a file with "≠" in it's filename, or it compresses it and shows an error "Minor error, the operation may have been completed".

Not that I need to use "≠" in filenames... but while I was trying to compress some files (a group of various files), there was some file a

[2018-11-12 08:53] aonez commented on #322
Thanks for the feedback @MaxPower85! I can't seem to reproduce this one. Tried to compress and extract with all the formats without issue. There's any change you can upload here a file that reproduces this issue?

[2018-11-12 09:05] aonez commented on #321
![screen shot 2018-11-12 at 10 01 01](https://user-images.githubusercontent.com/480163/48336960-e69c0180-e661-11e8-8e33-37268ecfc7a6.png) This one will feel nicer 👉🏽 <img width="14" alt="pause_legacy 2x" src="https://user-images.githubusercontent.com/480163/48337080-40043080-e662-11e8-8caa-ed5dfa70473e.png">

[2018-11-12 11:05] MaxPower85 commented on #322
Just copying the "≠" sign and renaming any random file to have it in it's filename seems to cause it.

BTW... I'm on Sierra and it's on a HFS+ volume...

I just tried to see would it happened if I moved the file to an APFS volume (where Mojave is installed, but I'm still testing it under Sierra), since APFS does "normalization" differently than HFS+ even if the file is named the same in Finder, an

[2018-11-12 11:08] aonez commented on #322
I've tested it in High Sierra also with HFS+. I'll do some more tests.

[2018-11-13 11:49] aonez commented on #138
@unamundan just letting you know that next release 1.1.6 will properly extract those files :)

[2018-11-14 23:17] aonez commented on #148
Will use `unar` in 1.1.6 for ZIP extraction, this will solve a few issues such as #12, #294, #293 and partly (extraction only) #138. Although not yet finished (it has problems with >4GB files), this is almost implemented.

In later versions I'll add other supported formats extraction.

[2018-11-14 23:19] aonez commented on #240
@ErikAGriffin could you share a sample file?

[2018-11-15 07:27] Blinks44 opened #324 "Exclude folders/files from archive"
- [ ] List in prefrences with exclusion elements
- [ ] Check in list elements
- [ ] Default items for common GIT and SVN #367

---

Greetings! Is it real to exclude folder or file from archive when i compress project? For example: I need to create archive  of my site, but inside of project 3 levels deeper i have a folder, named node_modules, i don't want to delete it from computer just archive eve

[2018-11-15 08:53] aonez commented on #324
Hi @Blinks44! Currently this is not available. It'll be a good enhancement.

[2018-11-18 23:26] ls31300 opened #325 "Compression/Extraction next to original file shows panel"
Hello, I've set Keka to automatically compress to the same folder and with the same name, but it keeps asking me for a name and for a location.

<img width="497" alt="captura de pantalla 2018-11-19 a las 0 24 28" src="https://user-images.githubusercontent.com/23740634/48679519-a670dd80-eb91-11e8-9f2e-8d9301ec2be9.png">

[2018-11-19 10:04] aonez commented on #325
Hi @ls31300, since the latest version 1.1.5 Keka does not ask for file access. The "Next to original file" option need file access to work without a save/open panel. Just extracting a file will give Keka file access to the extracted path (the Desktop in your case) but you can also give it manually:

- Open the Keka Preferences
- Got to "File Access" panel
- Click on the "+" button
- Select your De

[2018-11-20 09:02] ls31300 commented on #325
Works for me! Thank you!

[2018-11-20 19:15] grimmermatt commented on #229
I saw that and it did nothing. Two different machines, same Keka settings, one creates *.7z archives / one creates *[space]2.7z archives. I don't typically ask questions without looking through the settings. Thanks.

[2018-11-20 19:47] grimmermatt opened #326 "Keka-created 7z archives only decompressible in OSX Terminal"
All .7z archives created with Keka in the past 6 months (I've only spot checked back that far) cannot be decompressed by the Unarchiver, Forklift, or Keka Version 1.1.5 (3031), claiming the archives are corrupted. Terminal (7za x foo.7z) however can decompress the archives just fine. Weird, weird stuff.

<img width="668" alt="screen shot 2018-11-20 at 11 44 55 am" src="https://user-images.githubus

[2018-11-20 20:03] aonez commented on #326
Can you replicate this? Just create a new file with Keka and check if it is corrupted.

Do you have any of those file in a Time Machine backup?

[2018-11-20 20:07] aonez commented on #326
This happened on the same machine as #229?

[2018-11-20 20:50] grimmermatt commented on #326
Bad news: Same behavior on 26 .7z files created ~weekly over the past 5 months.
Good news: Uninstall/reinstall seems to have fixed this entirely. Now to go recompress everything...

[2018-11-20 20:50] grimmermatt commented on #229
Uninstall/reinstall seems to have fixed this entirely.

[2018-11-20 21:13] aonez commented on #326
This is very weird indeed... Glad it is solved now. If you still have that Keka.app and the preferences in a backup would be worth taking a look at it (if with those this can be replicated).

[2018-11-20 21:51] puciak opened #327 ""Dummy" name for archives made from multiple folders"
I don't know why if I drag multiple folders to Keka window, it only asks for location for the new archive - doesn't ask for name. In Preferences I set in "Name and location/Save to location" to "Ask each time". As the result I'm getting files like: dummy.7z.001, dummy.7z.002, dummy.7z.003, dummy.7z.004 (with splitted archive).

[2018-11-20 21:57] aonez commented on #327
Sorry about the “dummy” one, it’s already fixed in the upcoming 1.1.6 version.

Keka needs folder access when creating a parted file, that’s why it does ask for a folder and you can’t set a file name. But maybe this can be better handled.

[2018-11-21 11:15] aonez commented on #322
@MaxPower85 replicated this one on Sierra.

[2018-11-21 11:22] aonez commented on #322
Checked on:

- [x] 10.9: Works
- [ ] 10.10
- [ ] 10.11
- [ ] 10.12
- [ ] 10.13
- [ ] 10.14: Works

[2018-11-21 12:29] aonez commented on #322
So it is OS dependent also. Does not affect 10.13+, at least in my tests with external HFS+ disks.

[2018-11-21 12:48] aonez commented on #322
This has something to do with the encoding of the OS. Doing more tests, I'm seeing differences with this symbol depending on where it is set or viewed:

![screen shot 2018-11-21 at 13 44 15](https://user-images.githubusercontent.com/480163/48842068-9294c980-ed93-11e8-8dfe-f7b7a0781874.png)

In Finder, same symbol, first created in 10.9 and second on 10.12. Stored in a HFS+ DMG r/w image.

![screen

[2018-11-21 13:59] aonez commented on #229
Perfect!

[2018-11-21 13:59] #229 closed

[2018-11-21 14:02] aonez commented on #326
Please reopen this ticket if you can replicate it. Thanks for the feedback!

[2018-11-21 14:02] #326 closed

[2018-11-21 14:43] aonez commented on #322
@gingerbeardman I'm trying to replicate the test without luck 😅 But I'm sharing with you a DMG containing the two characters I got before. They are in the "First test" folder: [test.dmg.zip](https://github.com/aonez/Keka/files/2604616/test.dmg.zip)

[2018-11-22 02:21] gingerbeardman commented on #322
Very odd. If I copy one at a time out of "First test" to a writable directory, they overwrite each other (with confirmation).

Finder also acts oddly when trying to copy "First test" folder to a writable directory.

<img width="511" alt="screen shot 2018-11-22 at 02 19 32" src="https://user-images.githubusercontent.com/49612/48877879-2189fc00-edfd-11e8-815c-0cf915c3c0f8.png">

And also when compre

[2018-11-22 19:30] gingerbeardman opened #329 "[DISCUSS] Formatting of time taken/remaining"
Not sure why I am adding this, but I just switched between Keka progress and ForkLift progress and noticed the difference.

Keka
<img width="266" alt="screen shot 2018-11-22 at 12 38 58" src="https://user-images.githubusercontent.com/49612/48919773-be47aa80-ee8c-11e8-958f-7d23909e55c5.png">

ForkLift
<img width="264" alt="screen shot 2018-11-22 at 17 19 35" src="https://user-images.githubuserconte

[2018-11-23 09:38] aonez commented on #329
It really is cool to see the data transfer stats. Maybe for TAR it would be useful, for compression I'm not sure.

[2018-11-23 09:39] aonez commented on #322
Yep, @MaxPower85 found the damned symbol.

[2018-11-23 09:47] gingerbeardman commented on #329
I think it's the excess of labels in the Keka way?

"time elapsed" and "remaining"

And there are no labels in ForkLift.

I don't know, maybe this is an unnecessary issue

[2018-11-23 09:49] aonez commented on #329
No, I also thought some time ago to remove the elapsed time part and leave it only to the remaining part.

[2018-11-24 14:42] filliph opened #333 "Option to extract to folder with the same name as archive"
In my opinion, it should work like this:
* If the archive contains 1 file, preserve current behaviour and extract next to the archive
* If the archive contains a folder, or more than one file, extract to a folder with the same name as the archive

It would be perfect if Keka could also detect if the archive contained a folder with the same name as the archive, and not create nested folders.

Thank

[2018-11-25 11:34] aonez commented on #333
I'm not sure I'm getting that one right, since I think it's already the current behaviour:

- If the extraction contains multiple files/folders, a folder nesting all the contents is created named as the compressed archive
- If the extraction only contains one file/folder, no parent folder is created and the file/folder retains it's name, is not named as the compressed archive

Can you supply some

[2018-11-25 11:49] belazor commented on #333
I confess I made an assumption when it came to multiple files and folders, sorry about that!

I only purchased Keka off the MAS an hour or so before submitting the feedback as The Unarchiver failed to extract the attached zip file, but Keka managed it fine.

[xf-patch-2011.zip](https://github.com/aonez/Keka/files/2613024/xf-patch-2011.zip)

When I extract this file, I would want Keka to create a f

[2018-11-25 15:18] gingerbeardman commented on #333
This is an interesting request.

I tested the attached zip with various programs and they all act exactly the same way: they just extract what is in the file.

- Keka 1.1.5
- The Unarchiver 4.0.0 (worked fine for me)
- BetterZip 4.2.1
- Archive Utility (macOS) 10.10
- Archiver 3.0.4

[2018-11-25 15:43] gingerbeardman commented on #333
Yes, I have used that in the past with WinRAR and 7zip.

How would you see such an option being presented or activated on macOS?

[2018-11-25 15:47] gingerbeardman commented on #333
This also reminds me of #188

[2018-11-25 16:01] belazor commented on #333
Inside the "Location" fieldset in Keka preferences, underneath the "Extract to location:" drop-down, there could be a checkbox with label "Extract to sub-folder with archive name".

Alternatively, the checkbox could simply read "Extract to sub-folder" and descriptive text (such as the one found under the "Format" fieldset on the Compression tab) could elaborate, with something like "A folder with

[2018-11-25 23:43] GregOriol commented on #208
Having this issue with a freshly downloaded 1.1.5 web vesion on MacOS Mojave, APFS
Any update on the issue? how could I help investigate?

[2018-11-25 23:48] GregOriol commented on #208
I actually have something interesting: message in the console
`exec of /Applications/Keka.app/Contents/Resources/keka7z denied since it was quarantined by Safari and not approved by Gatekeeper, qtn-flags was 0x00000083`

[2018-11-26 09:50] aonez commented on #12
This one should be fixed in 1.1.6!!!

[2018-11-26 09:50] #12 closed

[2018-11-26 09:54] aonez commented on #294
Invalid packages, like the ones commented in this issue, will be properly extracted in 1.1.6.

[2018-11-26 09:54] #294 closed

[2018-11-26 09:54] aonez commented on #293
This is as well fixed in 1.1.6 👌🏼

[2018-11-26 09:54] #293 closed

[2018-11-26 09:57] aonez commented on #321
Should be fixed in 1.1.6! Reopen if not (still no Retina screen here 🤦🏻‍♂️)

[2018-11-26 09:57] #321 closed

[2018-11-26 10:00] #314 closed

[2018-11-26 10:10] aonez commented on #148
`unar` is now integrated. Addling more file support in 1.2.0.

[2018-11-26 10:12] aonez commented on #208
Wow thanks @GregOriol! So you've downloaded the ZIP package instead of the DMG, and extracted it with Keka? Or Safari extracted it automatically?

[2018-11-26 11:22] GregOriol commented on #208
@aonez I tried both dmg from the website and zip from github releases, both using Safari. No automatic extract, I opened them myself. Both failed.

[2018-11-26 11:38] aonez commented on #208
@GregOriol can you print this from the DMG/ZIP:

[code]

And this for the app itself:

[code]

I'm assuming you have the DMG/ZIP package in your Downloads folder, change it accordingly. ZIP the resulting `dmg-xattr.txt` and `app-xattr.txt` and attach the ZIP here.

By the way version 1.1.6 was just released, you can check if this new download still fails for you. But will be interesting if you can

[2018-11-26 11:41] aonez commented on #208
@GregOriol Also, not sure it will keep the quarantine, but if you can compress the `Keka.app` is failing in a TAR.GZ, then compress tar tarball in ZIP and attach it here.

[2018-11-26 12:09] GregOriol commented on #208
@aonez As I had a working version of Keka after the manual download yesterday, I downloaded the dmg from the website again using Safari to perform the tests. So it's 1.1.6 and it's failing the same way. Here are the results of xattr:
[keka-dmg-xattr.txt](https://github.com/aonez/Keka/files/2615315/keka-dmg-xattr.txt)
[keka-app-xattr.txt](https://github.com/aonez/Keka/files/2615314/keka-app-xattr.t

[2018-11-26 12:12] aonez commented on #208
Thanks a lot @GregOriol! I'll check the files.

This should work too, then:

[code]

[2018-11-26 12:14] GregOriol commented on #208
I confirm your command works too.

[2018-11-26 13:55] aonez commented on #208
@GregOriol the extracted `Keka.tgz.zip` app retains the quarantine but does not fail here... 🤯

[2018-11-26 14:10] GregOriol commented on #208
@aonez Sorry can't help here, I don't know how this behavior is working :-/ Maybe there are some ways to disable it and you have it set on your macOS? or maybe I/we do have something set on our macs?..

[2018-11-26 14:13] aonez commented on #208
@GregOriol yeah really don't know either. Restarting the Mac does not cause any difference, does it?

At least now with your tests and feedback we have a cause and a workaround 🎉

[2018-11-27 08:25] hanxue opened #334 "Kekaosx.com website is down"
Going to `https://www.kekaosx.com` will result in

[code]

SSL test fails at https://www.ssllabs.com/ssltest/analyze.html?d=www.kekaosx.com

![image](https://user-images.githubusercontent.com/760008/49068182-071eab00-f261-11e8-9658-4d0edbd7c84c.png)

[2018-11-27 08:31] aonez commented on #334
Thanks @hanxue!

The old domain does not have (and never had) an SSL certificate. http://www.kekaosx.com should properly redirect to https://www.keka.io. Did you found that address on the wild?

Just testing this one, found that http://kekaosx.com does indeed translate to or httpS://kekaosx.com and fails. Fixing that one.

[2018-11-27 08:39] aonez commented on #334
It seems like the browser does this translation 😓

[2018-11-27 09:21] #334 closed, assigned to aonez

[2018-11-28 08:59] jtiiii opened #335 "RAR Extraction with Chinese/Japanese characters in password fails"
It's spent 1hours on extracting.
![837fb5889b3fb9fd114cff69127f1f81](https://user-images.githubusercontent.com/25175725/49140018-2b948900-f32e-11e8-9af8-c2e0b967ef00.jpg)
That rar file's size has over 10GB. But I think not spent so much time.

Finally , I extract it by WINRAR 5.0。
The file owner said it use RAR5 format to compression.
I think is problem.

[2018-11-28 10:12] aonez commented on #335
Keka supports RAR v5, so the problem must be other. Looking at the screenshot, I assume the progress bar maybe did not gave any actual progress? If it's so, there must be another problem.

Can you enable the [console log](https://github.com/aonez/Keka/wiki/Console-verbose), try again and let me know what it says in the Console.app?

[code]

[2018-11-28 10:13] aonez commented on #335
By the way no need to wait, just launch the process with the console log enabled and there must be some output in the first seconds.

[2018-11-28 10:21] aonez commented on #335
@jtiiii just did a test with a 10+GB parted v5 RAR file with no problem. So I'm sure there was another problem, maybe a file access one, that Keka did not handled properly and the process hang there. So will be interesting to see the console output if you can replicate this one.

[2018-11-28 15:43] PeterK44 opened #336 "Can't drag and drop"
I just updated Keka from version 1.1.5 to version 1.1.6 on my Mac running macOS Mojave 10.14.1.
Dragging and dropping files onto the app in order to compress them no longer works.

[2018-11-28 15:45] aonez commented on #336
@PeterK44 can you:

1. Open the Console.app
2. Filter by Keka
3. Open Keka
4. Drag some files

Let me know if there appears any message in the Console.app.

[2018-11-28 16:06] aonez commented on #335
@jtiiii just found that this version has two bugs, one that prevents RAR progress to be shown in the progress bar, and another that makes a bad password RAR extraction not being detected. So ignore all the previous messages. I suppose you mistyped the password and the task never needed. Sorry about that one.

[2018-11-28 16:11] aonez commented on #335
@jtiiii can you check this version works with that file: https://t.keka.io/Keka.r3153-rar.7z

[2018-11-28 17:14] PeterK44 commented on #336
I rebooted Mac and Keka behaves normally. I guess I should have done that before contacting you. Sorry to bother you.

[2018-11-28 20:54] aonez commented on #336
Thanks @PeterK44! Glad it is solved. If you find anything in the Console.app regarding that moment if didn't worked as expected, reopen this ticket :)

[2018-11-28 20:54] #336 closed

[2018-11-29 07:57] aonez commented on #335
Thanks @jtiiii. It seems that also compression with this characters fail.

[2018-11-30 09:11] aonez commented on #335
Will be fixed in 1.1.8.

[2018-11-30 14:28] speck-drum opened #337 "Recursive Extraction Checkbox"
If checked, after processing an archive Keka would scan the extracted files for archives and replace every found archive by its extracted contents which is scanned for archives, too … and so on.

This solves the issue of .tar.gz, .tgz, tar.bzip, … archives in a more generalized way.

[2018-11-30 14:53] speck-drum opened #338 "Additional Formats"
Keka currently does not support binary-to-7-bit-text file encodings, like UUEncoding, Binhex, Xxencoding, Base64, Ascii85, …

These formats were very common 20+ years ago and from time to time I need to decode a .hqx or .uue file

[2018-11-30 15:19] gingerbeardman commented on #338
For reference @aonez here are some macOS command line utilities to work on such files:

- applesingle (no standard file extension)
- binhex (.hqx)
- macbinary (.bin)

[2018-12-01 00:01] indexofrefraction opened #339 "1.1.7 works from downloads folder but not from other folders"
i usually have keka in /Applications/Tools/File
but with 1.1.7 it is not able to create folders
(cant compress anything)

strangely it works when it is executed from
the downloads folder...

macos sierra 10.12.6

[2018-12-02 10:39] aonez commented on #339
I'll need to test that one. Can you take a look at the Console.app (filtered by Keka) while trying to do an operation?

[2018-12-02 10:41] aonez commented on #337
Current tarball packages are extracted automatically, but what you're here suggesting goes beyond that. So for example for an extracted ZIP file that contains a plain txt and a folder containing two TGZ tar balls, you say Keka should extract those too?

[2018-12-02 10:47] aonez commented on #333
@belazor this will be like the "Extract on xf-patch-2011 folder" for 7-Zip in Windows contextual menu. This should be easy to do :)

[2018-12-02 10:53] indexofrefraction commented on #339
this is weird...

i moved keka from downloads to /Applications/Tools/File/Keka.app

now when i drop a folder on it, the console shows:
Compression component "/Users/___/Downloads/Keka.app/Contents/Resources/keka7z" not found/accesible

note: keka was NOT executed from ~/downloads, but from /Applications/Tools/File
but it seems it still seems to search its resources in ~/downloads

HA ! sorry, that

[2018-12-02 10:55] aonez commented on #339
Whoops! So just restarting Keka worked? 😄

[2018-12-02 10:58] indexofrefraction commented on #339
jup, sorry :-D

you could detect this and show an app was moved error
but well... this probably doesnt happen very often

[2018-12-02 11:00] aonez commented on #339
I'm not sure this is possible, but will look at it!

[2018-12-02 11:06] indexofrefraction commented on #339
jeh.. guess you'd need a check if Keka.app exists at the place it is supposed to be
when you get an error executing one of the sub commands / resources ...

but right, maybe its not worth the work...  :)

its an edge case for people like me :D

have a good sunday!
and thanks for all your work on keka!
i dropped "The Unarchiver" some months ago and only use your app

[2018-12-02 23:22] Wdavery opened #340 "Non-executable app after extraction"
Ran into this with Sonarr and Radarr, but it seems to be a non-issue with the built in decompressor, so might be worth looking into. See: Sonarr/Sonarr#2818 and Radarr/Radarr#3206

[2018-12-03 05:50] macsavant opened #341 "Error code 3 using "unrar""
Receive this error from Keka when trying to unrar files from one of my sources.

Error code 3 using "unrar"
CRC error occurred, maybe the file is corrupt

Files unrar without error with UnrarX. Files from all other sources unrar without incident. Started happening with the latest update of Keka to v1.1.7.

[2018-12-03 07:49] aonez commented on #340
Thanks for the feedback @Wdavery! This is a regression of https://github.com/aonez/Keka/issues/2. It should affect Keka since 1.1.6.

[2018-12-03 07:51] aonez commented on #341
@macsavant are those files password protected? Maybe this is the same issue as #335?

If you can, check if this works with [Keka 1.1.5](https://github.com/aonez/Keka/releases/tag/v1.1.5).

[2018-12-03 09:29] aonez commented on #335
@jtiiii can you confirm this new build works: https://t.keka.io/Keka.r3157-rar.7z

[2018-12-03 09:32] aonez commented on #341
@macsavant check if it works with the build linked here: https://github.com/aonez/Keka/issues/335#issuecomment-443644260

[2018-12-03 09:37] aonez commented on #340
@Wdavery what version of Keka are you using? Can't reproduce this one.

[2018-12-03 10:41] aonez commented on #338
@speck-drum do you have any sample files?

[2018-12-03 10:57] speck-drum commented on #337
Yes, this is what I suggested (it was a feature of Stuffit Expander). But at the moment I am not sure whether there exists a use case for this feature. Probably a checkbox “Repeat expanding as long as the result is a single file” would do a better job.

[2018-12-03 22:05] Wdavery commented on #340
Must've been having a brain fart. I just realized I installed Sonarr via homebrew not manually, and obviously is unrelated to Keka, it must be using it's own decompression for some reason.

[2018-12-03 22:05] #340 closed

[2018-12-04 08:44] aonez commented on #340
No problem @Wdavery! 😊

[2018-12-04 09:04] macsavant commented on #341
Yes, they are password protected.

I tried both the 1.1.5 version as well as the more recent build of 1.1.7 you linked to. They both worked perfectly.

I'll continue to use the 1.1.7 build and wait for 1.1.8. Thank you very much for your help.

[2018-12-04 09:15] aonez commented on #341
@macsavant just pushed the 1.1.8 update. Thanks for the feedback! 😊

This was a duplicate of #335

[2018-12-04 09:15] #341 closed

[2018-12-04 09:16] aonez commented on #335
Should be fixed in 1.1.8.

[2018-12-04 09:16] #335 closed

[2018-12-07 09:16] #300 closed

[2018-12-10 09:38] omata commented on #313
Hello,

I have the same issue and I tried the proposed fix, then I figured out that `Keka` was failing when I use **ZIP** format with a folder with over `43K` file count, _(around 1.1 GB)_. If I try to compress an smaller folder it works.

**Keka version:** `1.1.8`
**OSX version:** `10.14.1`

Regards,
Oscar.

[2018-12-10 09:58] aonez commented on #313
@omata same happens with 7Z? Or just with ZIP?

[2018-12-10 11:01] omata commented on #313
Here my tests:
**7Z:** Fail
**ZIP:** Fail
**TAR:** Does work
**GZIP:** Does work
**BZIP2:** Does work
**XZ:** Does work
**LZIP:** Does work
**DMG:** Fail with error 1 using hdutil
**ISO:** Fail with error 1 using hdutil

Regards,

[2018-12-11 09:01] aonez commented on #313
Any special files there? Any example so I can replicate the issue as similar as possible?

Jordi

[2018-12-11 16:51] omata commented on #313
It is an Apache `httpdocs` file structure with a lot of php files and hidden dot files.

The directory looks like:
[code]

[2018-12-11 16:54] omata commented on #313
It fails for me in both methods.
<img width="421" alt="captura de pantalla 2018-12-11 a la s 12 53 48 p m" src="https://user-images.githubusercontent.com/792294/49816253-db60f200-fd43-11e8-8e2f-422d011ac633.png">

[2018-12-13 08:30] 0x1301FDF opened #344 "Dock icon problem"
i select some docx,xlxs files and drop them to dock icon,however there are only docx files in  the compressed file

[2018-12-14 02:36] 0x1301FDF commented on #344
i drop 6 files to dock icon(4 docx, 2  Axure RP file),try both zip and 7z, the result is same: only 4 docx files  in the compressed file.
Drop to the keka windows is ok! 6 files in it.
These file names are in Chinese, but I renamed it to English, and try again,the result is same,only 4 files.

[2018-12-14 02:40] 0x1301FDF commented on #344
none or the fastest compression method also the same result, only 4 docx files

[2018-12-14 02:49] 0x1301FDF commented on #344
i upload my 6 files to my github,you can download it to test.
https://github.com/0x1301FDF/0x1301FDF.github.io/raw/master/test.zip

[2018-12-14 09:30] aonez commented on #344
@0x1301FDF can't reproduce the issue with the test files. This surely has to do with #77, but it is strange you only get one compressed file. Can you enable the [verbose mode](https://github.com/aonez/Keka/wiki/Console-verbose) and let me know what the Console.app says?

[code]

Note that you can use the drop in the window or the contextual menu items, both should work.

![untitled 2](https://user

[2018-12-15 13:57] 0x1301FDF commented on #344
@aonez i enable the verbose mode and the Console.app says ：
默认	21:47:59.243253 +0800	launchservicesd	CHECKIN:0x0-0x3b93b9 28349 com.aone.keka
默认	21:47:59.351155 +0800	Keka	Updating user defaults from 3160...
默认	21:47:59.352703 +0800	Keka	Dev mode enabled
默认	21:47:59.355970 +0800	Keka	Running on OS X/macOS 版本 10.13.6（版号 17G4015）
默认	21:47:59.356792 +0800	Keka	Running sandboxed Keka (WEB) version 1.1

[2018-12-15 14:17] 0x1301FDF commented on #344
that seems macOS's bug!! i drop 6 files to another application ,also 4 files get in window.

[2018-12-17 03:54] omata commented on #313
@aonez As per your request I enabled **Keka** logging and I found that the issue was related with a permission settings for a single specific directory inside of `httpdoc`. So, I set it to `755` and I was able to compress the directory with **zip** and **7z** formats.

Thank you for your help and best regards!

[2018-12-17 14:18] aonez commented on #344
@0x1301FDF I'm closing this one in favor of #77, since it is essentially the same issue. I hope the alternatives (drop in the window and context menu) are 👍🏼 for you. Thanks for all the feedback!

[2018-12-17 14:18] #344 closed

[2018-12-17 14:32] aonez commented on #295
I'm closing this one in favor of #123. Thanks for all the feedback @TCB13!

[2018-12-17 14:32] #295 closed

[2018-12-17 14:43] gingerbeardman commented on #123
@ the app in the previous comment is no longer available in the UK store 😮

[2018-12-18 09:44] ffffwh commented on #12
I am doing a research whether I could replace 'The Unarchiver' with this great App.

The only concern seems to be zip file name encoding. IMHO, auto encoding detection does not work 100%, so manual selection should be provided as a last resort.

With no offence, is it implemented?

[2018-12-18 09:48] aonez commented on #12
It was implemented in 1.1.6 @ffffwh. Inspired in The Unarchiver way, so will be very (maybe too much) familiar. You can test the feature with the example file found in the comment https://github.com/aonez/Keka/issues/12#issuecomment-274597094.

[2018-12-18 10:46] matmal opened #345 "7z vs zip compression 8th gen Intel processors"
Hi,

I do not know if this is a problem with 7z algorithm or something else, but I have noticed that the processor is not used in 100% of it's frequency. I was running a simultaneous compression of 12 files and the frequency was around 2.2GHz (7zip - ultra compression) and on the contrary with ZIP (Ultra compression) I was reaching around 4.2GHz. What is wrong, does anybody know?

[2018-12-18 11:20] aonez commented on #345
@matmal just did a quick test with an 8th gen processor, maximum turbo speed of 4,3 was achieved with either 7Z or ZIP for one operation compressing a 60MB folder. Maybe your CPU was suffering from thermal throttling?

Anyway I see 2.2GHz very low even for thermal throttling though. What is the base CPU clock? Did a test of 12x10+GB operations, and even with thermal throttling the clock was betwee

[2018-12-18 13:22] matmal commented on #345
Hi, it's Macbook Pro w/i9 and quite frankly ZIP's are perfect no effect of thermal throttling. The problem is 7z, somehow it does not work. Look at the screenshots.
<img width="1680" alt="7zip" src="https://user-images.githubusercontent.com/4699888/50156837-162cd200-02d0-11e9-8284-fde9212c0ff6.png">
<img width="1680" alt="zip" src="https://user-images.githubusercontent.com/4699888/50156839-162cd20

[2018-12-18 13:31] gingerbeardman commented on #345
Does it happen with other apps that use p7zip?

[2018-12-18 13:49] matmal commented on #345
I tried also with Entropy and it looks like same thing happens. Cannot reach base clock speed at least.

[2018-12-18 13:53] gingerbeardman commented on #345
Then I think this a problem with the p7zip binary? @aonez where is best to report this?

[2018-12-18 13:54] aonez commented on #345
With 8 operations (mostly stable at 4,00):

![screenshot 2018-12-18 at 14 46 06](https://user-images.githubusercontent.com/480163/50158457-76257780-02d4-11e9-9755-1dd79bc466ae.png)

With 18 operation, 10 active (mostly stable at 3,90):

![screenshot 2018-12-18 at 14 50 44](https://user-images.githubusercontent.com/480163/50158505-93f2dc80-02d4-11e9-8ba2-db23c804297e.png)

[2018-12-18 13:55] aonez commented on #345
@gingerbeardman the think is that I can't reproduce this one. @matmal is possible you test this one in a freshly installed Mojave?

[2018-12-18 13:59] gingerbeardman commented on #345
OK, I see. Interesting.

(I only have an i7 so I cannot contribute here)

[2018-12-18 14:01] aonez commented on #345
@gingerbeardman mine is also i7 (finally).

[2018-12-18 14:02] gingerbeardman commented on #345
So the problem is only with i9?

[2018-12-18 14:04] aonez commented on #345
He reported that also with an i7 https://github.com/aonez/Keka/issues/345#issuecomment-448219645. Both 7Z and ZIP are created with `p7zip`, this is what bothers me most.

[2018-12-18 14:08] gingerbeardman commented on #345
What is the command line used by Keka for both?

[2018-12-18 15:01] aonez commented on #345
@gingerbeardman, for 7Z the default is:
- `-t7z`
- `-ms=on`

For ZIP:

- `-tzip`

@matmal since the only difference as far as `p7zip` arguments is the `-ms=on`, if you disable the "Solid archive" (_Utwórz archiwum ciągłe_) option in 7Z, there's any difference?

[2018-12-18 15:08] aonez commented on #345
@gingerbeardman there's no limitation in the CPU threads done by Keka, no `-stm` or `-mmt` is set. But even if they were set, the core frequency shouldn't be affected. I can execute an operation in just one thread and the Intel Power Gadget reports a 4,30 frequency.

[2018-12-18 15:11] matmal commented on #345
Okay, I want to say that all screenshots have been made on a freshly installed Mojave (latest version). I have forgotten to say that my old MBP with i7 is also running Mojave (probably minor version 1). I also tested this in Boot Camp and same result, cannot reach the base clock speed. Maybe it would be better to test it via Terminal with original 7z library, any clues?

[2018-12-18 15:17] aonez commented on #345
You mean using 7-Zip? And same results?

You can try this for example installing `p7zip` from brew, but I think you'll get the same numbers.

I asked for that because of the installed apps from your screenshot, like LittleSnith or Bartender. But if it's pretty vanilla, it probably won't make any difference. Sadly I only have a machine able to run the Intel gadget.

It happens with other files also

[2018-12-18 17:30] matmal commented on #345
Hi, my recent findings are as this: 7z, xz, Plzip, bzip2, gzip and tar work the same way. The crazy thing is that when compression method is changed to lowest (not storing), the CPU clock speed is okay, but if you set compression method to a little bit higher then things change drastically.

[2018-12-19 09:30] aonez commented on #345
Maybe this is happening also with other processes, like for example an encoding using HandBrake or an exportation of iMovie or Final Cut?

[2018-12-19 09:31] aonez commented on #327
This will be introduced in 1.1.9.

[2018-12-19 19:13] matmal commented on #345
Dear @aonez this is a Vega 20 version with i9, this it will not work on earlier versions of the OS. I decided to test it once again in Boot Camp and the CPU was working okay, maintaining around 3.0 GHz with 6 files (proper boosting with one file), but this topic does not concern Keka. My assumption is that the error is system dependent or hardware dependant - you know Apple does magic to the H/W.

[2018-12-20 06:55] ffffwh opened #346 "Option "Archive as single files" does not self-explain"
Would something like "Archive top-level input items separatedly" be better?

[2018-12-20 09:58] gingerbeardman commented on #346
Corrected English

[2018-12-20 10:33] aonez commented on #346
What about "Archive items separately"?

[2018-12-20 18:31] aonez commented on #345
Hopefully someone else with a similar HW can share some more feedback.

You should try [Parallels Desktop Lite](https://itunes.apple.com/app/parallels-desktop-lite/id1085114709?mt=12), despite its unfortunate name.

Note that if it affected the same on `7z`, `xz`, `lzip`, `bzip2` and `gzip` then 7-Zip is not to blame.

[2018-12-20 22:41] matmal commented on #345
The problem witjlh VMs is that it stimulates processors, VMs do not get a direct access to the CPU it is being run in an emulator of some sort. I must correct myself as I mafe6a terrible mistake by saying that on my MBP11,3 with i7 results are the same, they are not and this MBP work under macOS 10.14.2. So this leaves me with either 7z library or Apple messing with config of the system. I posted

[2018-12-21 00:08] gingerbeardman commented on #345
With Intel VM on Intel CPU there is basically pass-through of the CPU.

It could be the way the p7zip was compiled, it may have been optimised towards the older CPU configurations (but current at the time of compilation). Are there any different builds of p7zip?

Let's not rule out Apple though! 🙄

[2018-12-21 11:19] aonez commented on #75
Using `PLZIP` by default in next revision 1.1.9. You can still use `LZIP` setting [UseMultithreadLzip](https://github.com/aonez/Keka/wiki/Hidden-configuration#compression-and-extraction) to `FALSE`.

[2018-12-21 11:19] #75 closed

[2018-12-21 17:55] matmal commented on #345
It looks like Keka is responsible for 7zip implementation on macOS, and maybe they should check compatibility with latest Intel processors.

[2018-12-21 18:16] aonez commented on #345
@matmal, [you've said](https://github.com/aonez/Keka/issues/345#issuecomment-448303081) that the same occurs with `gzip`, `bzip2`, `lzip` and `xz`, so if this is true, then you can discard this as a `p7zip` (or 7-Zip) issue.

You could build `p7zip` on your i9 machine, if you'd like so. The easiest way I can think is using [brew](https://brew.sh). Just install it forcing to compile with this comma

[2018-12-21 21:21] matmal commented on #345
Thank you @aonez, will try your idea.

[2018-12-26 13:00] automatedbugreportingfacility opened #347 "Keka 1.1.8 crashes on startup (VirtualBox Virtual Machine)"
Coming from a fresh installation. Log below:

[code]

[2018-12-26 15:42] aonez commented on #347
Try this one: https://github.com/aonez/Keka/issues/314#issuecomment-432776535

Also removing and re-dowloading Keka again may help.

Let me know if it helps :)

[2018-12-27 05:00] automatedbugreportingfacility commented on #347
It didn't -- it still crashes the same way. Please note that Keka had not been installed on this system before, so it's a fresh installation, and the settings are default.

[2018-12-27 10:59] aonez commented on #347
You've tried redownloading it? It's the MAS version?

[2018-12-27 11:10] aonez commented on #347
Digging more on the log, it seems it's the web version. @automatedbugreportingfacility please try an earlier version (you can get any [here](https://github.com/aonez/Keka/releases)) and update from there with the bundled auto-update system.

It seems like Keka is checking for some bookmarks (file access), it's strange it crashing there if it is a fresh install that never has been used.

Let me kno

[2018-12-27 12:19] automatedbugreportingfacility commented on #347
I started going backwards, with each version between 1.1.7 and 1.1.5 RC2 producing the same result, until I reached 1.1.5 RC1, which showed the file access permission prompt. I gave the permission, but then it crashed with:

[code]

Then I loaded 1.1.1, which seems to show something, but I don't see the option to update it:

![screen](https://user-images.githubusercontent.com/3524640/50479993-b1f9

[2018-12-27 13:31] automatedbugreportingfacility commented on #347
It's installed within a VM running in VirtualBox 6.0. Language is English (US).

[2018-12-27 15:39] aonez commented on #347
Thanks @gingerbeardman for the tip! @automatedbugreportingfacility I'll make a VM to test that one. Is the host a non-Mac system?

[2018-12-27 15:41] automatedbugreportingfacility commented on #347
Yes, it is: Windows 10 64-bit (1809).

[2018-12-27 16:00] aonez commented on #347
You followed any guide to create that VM?

[2018-12-27 16:07] automatedbugreportingfacility commented on #347
Yes, but it was quite a while ago, so I don't remember which one exactly. Could be [this one](https://techsviewer.com/install-macos-high-sierra-virtualbox-windows/ ). In particular, you need to run some command line instructions before booting, they're listed in the linked tutorial.

Btw, if you have some idea about the root cause of the crash, but need more data to investigate, then I could run a

[2018-12-27 16:31] aonez commented on #347
By the way, try this RC, is the latest version of Keka not sandboxed. Maybe this one works:

https://github.com/aonez/Keka/releases/tag/v1.1.0-rc.1

[2018-12-27 16:34] automatedbugreportingfacility commented on #347
There are sandbox violations in the log:

[code]

[2018-12-28 06:37] ffffwh commented on #157
Bump this.

I am (de)compressing a single file to/from gz. I saw that `keka7z` is used and CPU isn't much utilized. Is there any concern about not using `kekapigz`?

It does use `kekapigz` when (de)compressing multiple files.

@aonez

[2018-12-31 11:16] aonez commented on #347
That sandbox violation is ok, should not be a crash reason. Tried to install macOS on VB but had no luck. Will try later today.

[2019-01-03 11:49] aonez commented on #347
I'm gonna try the VB installation again now. Had no luck last time.

[2019-01-03 18:08] aonez commented on #347
The VMWare image in the guide you posted is very unstable. I'll try to create a VM from scratch again.

[2019-01-04 08:49] jingle0927 opened #348 "Any plan to support Linux？"

[2019-01-04 09:41] aonez commented on #348
Hi @jingle0927! There're plenty of good options in Linux, and since Keka is coded in Objective-C, I don't think it'll ever be ported to Linux.

The only suitable alternative home is #171.

[2019-01-04 09:41] #348 closed

[2019-01-04 09:54] aonez commented on #347
@automatedbugreportingfacility had to lower the CPU count on the machines, but they work (the VMWare and the scratch one) ok now and no problems with Keka... Note my host is macOS, not Windows.

![screenshot 2019-01-04 at 10 49 38](https://user-images.githubusercontent.com/480163/50682403-07078d00-100f-11e9-9eda-10485a3ed9ab.png)

[2019-01-04 10:38] aonez commented on #347
Just installed Windows 10 on Boot Camp, and same result...

![capture](https://user-images.githubusercontent.com/480163/50684284-36b99380-1015-11e9-8939-10b24b79e1a3.PNG)

[2019-01-04 10:40] aonez commented on #347
@automatedbugreportingfacility Can you test it in another computer/VM?

[2019-01-04 10:44] automatedbugreportingfacility commented on #347
I have an urgent project to finish right now, will re-check on Tuesday-Wednesday.

[2019-01-07 10:50] #346 closed

[2019-01-08 08:02] vmihokovic opened #349 "Add option to automatically set modification date of the created folder to current date and time"
It would be great if we had an option to automatically set modification date of the created folder (the folder that is created after Extraction) to **current date and time**.

This option is available in most other software and I kinda got used to this.

Because when I extract the archive I expect it to appear at the top of folder (if it is sorted by modification date - for example "Downloads" fol

[2019-01-08 21:30] aonez commented on #180
Hi @seitsme! Happy new year to you too :)

You can simply compress the files as you mentioned in a ZIP and drop them here in a new comment. I'll do the rest. Thanks a lot!

[2019-01-09 08:52] seitsme commented on #180
ok thanks. i attached the zip here.
let me know by email when i can get and how to set GR language on my keka
so i can test what i wrote.
If i need to change anything i will update the files and resend back
basil

On Tue, 8 Jan 2019 at 21:30, aONe <notifications@github.com> wrote:

--
----
Basil T.

[2019-01-09 09:00] aonez commented on #180
@seitsme, via mail reply it does not work. Simply navigate to the GitHub website (https://github.com/aonez/Keka/issues/180) and drop the files in a new comment 🤓

[2019-01-09 09:02] aonez commented on #180
Or if you need via mail, send it to info [@] keka.io

[2019-01-09 09:06] seitsme commented on #180
ok i send to info as is faster. i am not used to github and it takes
time... will run out of batt soon.

On Wed, 9 Jan 2019 at 09:02, aONe <notifications@github.com> wrote:

--
----
Basil T.

[2019-01-09 13:59] kennethlynne opened #350 "Support extracting rar multi-part archives beyond .r99"
I have multi-part rar archives that consist of rar files named like this:

a.rar
a.r00
a.r01
....
a.r99
a.s00
...
a.s99
a.t00
...
a.t99

but keka is only set as the default app for the a.r** files

[2019-01-09 14:04] kennethlynne opened #351 "Keka always asks where the rest of the multi-part archive is"
I have configured keka to extract to location "next to original file" by default
![image](https://user-images.githubusercontent.com/390817/50904023-8803c180-141f-11e9-90e8-7f426a075e6a.png)

But I always get this dialog and have to pick the folder that the original file was located in
![image](https://user-images.githubusercontent.com/390817/50904009-7e7a5980-141f-11e9-9353-1c8a0cbb0a98.png)

Usin

[2019-01-09 14:06] kennethlynne commented on #350
![image](https://user-images.githubusercontent.com/390817/50904217-0eb89e80-1420-11e9-856d-f7546c04a18c.png)

[2019-01-09 14:06] aonez commented on #350
Thanks for the feedback @kennethlynne!

The problem here is that the list of registered extensions will be huge, since legacy RAR uses multiple characters beyond **r**, not just **s** and **t**. Those files are recognized, but for better performance only the first 99 starting with an **r** are set.

Note that since the introduction of RAR version 5, introduced in 2013, all parted files have a **.r

[2019-01-09 14:07] kennethlynne commented on #350
Alright makes sense. So I should use some batch renaming tool to rename them instead?

[2019-01-09 14:08] kennethlynne commented on #351
And it fails to extract still, with no proper feedback
![image](https://user-images.githubusercontent.com/390817/50904390-69ea9100-1420-11e9-8ec6-fa7a74cfdb3f.png)

[2019-01-09 14:11] kennethlynne commented on #351
After going to "Enable external volume access" it performs a lot better! 💃

![image](https://user-images.githubusercontent.com/390817/50904517-c3eb5680-1420-11e9-8f24-5596c0042b04.png)

[2019-01-09 14:12] aonez commented on #350
No!

About the screenshot, seems you had a problem with an extraction. You can enable the [console verbose](https://github.com/aonez/Keka/wiki/Console-verbose) to see more information on the Console.app. Just close Keka, execute this line in the Terminal.app and try the extraction again:

[code]

Disable this verbosity once you get the error message, since it has a performance impact to have this

[2019-01-09 14:15] #351 closed

[2019-01-09 14:17] kennethlynne opened #352 "No feedback when failing to extract rar file"
![image](https://user-images.githubusercontent.com/390817/50904748-69062f00-1421-11e9-94b9-c329e390ceaf.png)

It starts out just fine, but after a while I just get this dialog. Any way to figure out what's wrong?

[2019-01-09 14:17] aonez commented on #351
🎉🎉🎉

This is in fact a limitation of the sandboxing in macOS. The safest way to extract a parted file is to have full access to the parent folder, so if there're A LOT of parts, you can just click on Extract without selecting any part so Keka has access to the entire folder.

[2019-01-09 14:18] aonez commented on #352
Try this to see more info: https://github.com/aonez/Keka/issues/350#issuecomment-452709646

[2019-01-09 14:18] #350 closed

[2019-01-09 14:20] aonez commented on #352
There's already a ticket for improving the error messages, hope to implement #116 soon.

[2019-01-09 16:10] #352 closed

[2019-01-10 07:50] aonez commented on #352
@kennethlynne you've solved the issue?

[2019-01-10 13:50] #327 closed

[2019-01-14 09:19] denishamann1337 commented on #84
any news on brotli?

[2019-01-14 11:08] gingerbeardman commented on #84
@denishamann1337 out of interest what is your use case for Brotli? What would it achieve that other existing formats or schemes can not?

[2019-01-14 11:37] p2k commented on #84
+1 for zpaq

It is the best pack format I know combining deduplication and a strong compression that outperforms every competitor. It actually allows multiple versions of the same file(s) so it is suitable for incremental backups. Needless to say it offers industrial standard encryption.

Having a GUI for zpaq would be a bliss, but is considerably harder to do than for all the other formats since

[2019-01-14 11:50] denishamann1337 commented on #84
I read some interesting benchmarks lately (e.g.: http://www.instantshift.com/2018/03/02/gzip-vs-brotli-compression/)
On the same brotli is supported by the 7z extension (see: https://github.com/mcmilk/7-Zip-zstd) and I would love to have the same "compatbility" in Keka compared to 7z on windows.
I feel like having better performance for some usecases and being supported next to gzip in all major b

[2019-01-14 11:50] gingerbeardman commented on #84
@p2k is this not a problem?

[2019-01-14 12:13] p2k commented on #84
@gingerbeardman not for me. I don't use it to backup an operating system or things like an .app bundle on macOS (which often contain symlinks). But if I wanted to, I could always resort to piping a tar archive to zpaq.

It might be an idea to do a pre-check when archiving stuff with zpaq, though, and warn the user. That's a good point.

[2019-01-14 12:35] aonez commented on #84
@denishamann1337 I checked again and still Brotli does not even have a magic number. So it is still focused in data stream over the network, for use in browsers. That is why it is compared with gzip, also used in browsers.

That said, as it is fairly easy to add support for Brotli, here a test build: https://t.keka.io/Keka-brotli.7z

[2019-01-14 13:39] denishamann1337 commented on #84
@aonez I see, I assumed the magic number was existant by now. Thank for the effort for checking :)

[2019-01-15 10:33] aonez opened #354 "Hide automatic action text if compression/extraction only is selected"
As reported by Basil via mail, it makes no sense to see that message in the Preferences when the automatic option is not selected.

[2019-01-17 09:11] aonez commented on #176
@alvarnell I've just uploaded a test build with this functionality, could you check?

https://github.com/aonez/Keka/releases/tag/dev-test-builds

[2019-01-17 09:30] alvarnell commented on #176
Yes, it did retain the Quarantine attribute after zipping and decompression, which is the critical thing here. But it did drop these additional attributes, which admittedly are of less importance"

	com.apple.lastuseddate#PS	   16
	com.apple.metadata:kMDItemDownloadedDate	   53
	com.apple.metadata:kMDItemWhereFroms	  489

On Thu, Jan 17, 2019 at 01:11 AM, aONe wrote:

-Al-
--
Al Varnell
Mountain V

[2019-01-17 09:39] aonez commented on #176
@alvarnell I'm not sure about `com.apple.lastuseddate` but the other two are inherit in the quarantine. You can test with this binary (a simple echo), when trying to execute the binary you'll see where and when it was downloaded from: https://t.keka.io/t.zip

[2019-01-17 10:01] alvarnell commented on #176
Strange. The t.zip file I downloaded and decompressed did retain all of those attributes:

$ ls -@l Test
-rwxr-xr-x@  1 <user>  staff        30 Jan 17 01:15 test
	com.apple.metadata:_kMDItemUserTags	      42
	com.apple.quarantine	      57
	com.macromates.selectionRange	       1
	com.macromates.visibleIndex	       1

But the file I already had which I compressed and then decompressed with Keka 1.2.

[2019-01-17 10:12] aonez commented on #176
Note this only applies to extraction, as the title and the first comment suggested.

For compression, maybe this will come in #90.

[2019-01-18 00:30] viniciusbig commented on #224
This problem is still happening to me.
After I extract the file, Keka stays open.

[2019-01-18 00:34] viniciusbig commented on #325
I have given access to my "home" folder and set Keka to extract file next to original, but keka keep asking the folder me each time

[2019-01-18 08:13] gingerbeardman commented on #224
@viniciusbig did you follow the advice in this thread?

[2019-01-18 08:56] aonez commented on #180
First version came in 1.1.9, revised version to come in 1.1.10.

[2019-01-18 08:56] #180 closed

[2019-01-18 09:06] aonez commented on #325
@viniciusbig can you provide more information? Maybe you're doing operations outside the home folder, like for example in an external drive? If that is the case, just give access to that disk too.

[2019-01-22 22:14] amcohen4 opened #357 "Keka won't update via app store"

[2019-01-23 06:32] amcohen4 commented on #357
Tried again 10 minutes later and worked. Thanks!

Sent from my iPhone Xs Max

[2019-01-23 06:43] aonez commented on #357
Thanks @amcohen4!

[2019-01-23 06:43] #357 closed

[2019-01-23 11:26] gcallari opened #358 "Contextual menu issues"
Hello,

It seems the menu is working correctly (with Keka closed) unless I select XZ or LZIP as the default compression format in the preferences: in that case the files are compressed using 7Z format.
Another issue is, if I select ISO format in the preferences, I get the error "Error code 1 using hdiutil - Unknown error".
I am using Keka 1.1.0 on Mojave 10.4.3 (in italian) on a Mac Book Air Early

[2019-01-23 11:54] gingerbeardman commented on #358
Do you mean 1.1.10 on Mojave 10.14.3

Both the most recent versions at the time of writing?

[2019-01-24 09:07] plaa commented on #197
What's the difference with "Compess using Keka" and "Send to Keka" currently?  Both automatically create the archive without any prompting.  I assumed one would compress immediately, the other would open and ask for settings/password.

What we're looking for is a simple way for non-technical users to create password-protected ZIPs, as it's not possible through the default Mac GUI.

[2019-01-25 11:09] aonez commented on #197
@plaa "Send to Keka" currently chooses the automatic action (extraction for compressed files, compression for the rest) but does not show any intermediate GUI to choose options, does the operation right away.

For what you're asking, the users just needs to open Keka, set the password (in both password fields) and then drop the files they want to compress. With the Keka window opened and the passw

[2019-01-25 17:31] aonez commented on #358
@gcallari already have this fixed for next revision 1.1.11.

[2019-01-26 17:05] SimonYork opened #359 "DICOM files into OsriX Medical Viewer."
I appear to be experiencing difficulty in extracting  DICOM files to load into OsriX using KeKa.  Is this a file type that the software accommodates?

Regards Simon

[2019-01-26 18:19] aonez commented on #359
I’m not familiar with such files. Are those compressed or extracted with Keka before loaded into OsriX? Can you share an example file?

[2019-01-26 18:31] gingerbeardman commented on #359
Perhaps this helps?

https://fry-it.atlassian.net/wiki/spaces/PKB/pages/100634363/Uploading+DICOM+images

[2019-01-27 00:52] fullcity opened #360 "No RAR Preferences"
There aren't any options in preferences for RAR files. Specifically, I'd like to be able to delete the archive after extraction.

[2019-01-27 07:37] aonez commented on #360
Hi @fullcity,

You have a global option in the Keka Preferences to detele any archive (RAR or other format) after an extraction:

1. Open the Keka Preferences
2. Got to the Extraction section
3. Enable ‘Move to trash compressed files after extraction’

https://github.com/aonez/Keka/wiki/Keka-Preferences#extraction-preferences

[2019-01-29 15:26] aonez commented on #358
Fixed! Thanks!

[2019-01-29 15:26] #358 closed, assigned to aonez

[2019-01-30 02:05] v6 commented on #18
// , I get the same error on a 104mb file. Why is this closed??

[2019-01-30 02:06] v6 opened #361 "p7zip error 2 on compressing big files over 100mb"
// , https://github.com/aonez/Keka/issues/18

[2019-01-30 02:10] v6 commented on #361
// , Doesn't matter whether I use AES-256 or not.

[2019-01-30 09:13] aonez commented on #361
Thanks for creating another ticket. #18 has to do with ZIP files bigger than 4GB, specifically created on Mac OS X with the bundled compressor.

Can you provide more information? Does it occur on every file? What formats? Can you share one?

[2019-01-30 09:15] aonez commented on #361
Does it affect on compression or extraction?

[2019-01-30 10:41] v6 commented on #361
// , So far, only compression. I've never filed a bug report on this
software, before. Is there any further diagnostic I can do? Perhaps an
error-report feature, or a CLI?

On Wed, Jan 30, 2019 at 1:15 AM aONe <notifications@github.com> wrote:

[2019-01-30 10:44] aonez commented on #361
@v6 you can enable the [verbose mode](https://github.com/aonez/Keka/wiki/Console-verbose) on Keka and take a look at the Console.app:

[code]

It does only happens with files over 100MB? And happens with all files over 100MB or just specific ones?

[2019-01-30 23:10] megadr01d commented on #307
You can replicate the issue using some kind of app switcher that hides apps by default (Single Application Mode) or manually hiding Keka with <kbd>⌘</kbd><kbd>H</kbd> while the progress is up.

In my case, I found this issue using LiteSwitch X and when using <kbd>⌘</kbd><kbd>Tab</kbd> to switch to another app, I have it configured to hide all other apps, by default. So, switching away from Keka wh

[2019-01-31 10:00] aonez commented on #307
Thanks @megadr01d! Replicated this 👍

[2019-01-31 13:54] gingerbeardman commented on #307
Great to see this old one found and fixed!

[2019-02-02 22:32] megadr01d commented on #307
@aonez No problem, man.
I'm glad to report that `Keka-autoquit.7z` works correctly and auto quits Keka whether it's hidden or not.

[2019-02-04 05:33] #347 closed

[2019-02-04 13:44] gcallari commented on #358
Hello guys, just to confirm everything's ok now. And thanks to you!

[2019-02-04 13:45] aonez commented on #358
Thanks a lot for the feedback and confirmation @gcallari! Enjoy 👍

[2019-02-04 20:58] marcus-e55 commented on #100
Every packing software on Windows does it (7zip, WinRAR, even Windows Explorer), why is there not a single program on Mac that can do that?

[2019-02-05 10:03] chriselden opened #362 "Error code 13 with unraring large files"
Hi,

Everything is in the title!

using KEKA, on large files, i got this error code when i try to unrar them.
it's 15 rar files of 5,5GB each.

I also noticed something strange. When i try to unrar with the Unrar X application, it telles me: not a rar files. which is really strange because other people succeed in unraring them all!

i got this problem only on large files and at every state of prog

[2019-02-05 10:06] aonez commented on #362
Hi @chriselden!

Can you enable the [verbose mode] on Keka, try again and let me know what the Console.app says? Full instructions in the link, you should enable both `DevLog` and `DevLogReader`:

[code]

[2019-02-05 12:03] gingerbeardman commented on #100
This is a huge exaggeration.

Also on Mac there are plenty:
- [BetterZip](https://www.macitbetter.com)
- [WinZip](https://www.winzip.com/mac/en/) (yes, they have a macOS version)
- [Mr Zipper](url
http://www.effectmatrix.com/mac-appstore/Mr.Zipper.htm)
- [B1](https://b1.org)
- [Archive Browser](https://theunarchiver.com/archive-browser) (sister to The Unarchiver)
- [Entropy](http://www.eigenlogik.

[2019-02-05 12:43] chriselden commented on #362
Hi

thanx for this so fast answer:)

the result is: (there is only the last lines inb the console app)

11:31:04.645561 +0100	Keka	Extraction output:

Extracting  /Volumes/Download/sa/Orc/.Keka-4DFEC805-0C3B-44C0-9F55-61F4BC7B8B2C/Glo/S/A/ASk/altos_shakes_91-91_Eb4 - CLOSE1.ncw
11:31:04.682976 +0100	Keka	Extraction output:
\^H\^H\^H\^H  0%
11:31:04.702744 +0100	Keka	Extraction output:
\^H\^H\^H\^H

[2019-02-05 13:37] aonez commented on #362
@chriselden Can you share the first lines too? Are those 15 files part of a volume, so it is a 82,5GB parted RAR? If so, be sure you have enough space in the destination HD. The resulting file might be well below 100GB, depending on the contents.

[2019-02-05 13:39] aonez commented on #100
This one brings me [bad memories](http://trac.keka.io/ticket/14).

[2019-02-05 14:00] gingerbeardman commented on #100
@aonez oh, sorry, I did not know the details of that

[2019-02-05 14:02] gingerbeardman commented on #100
I help with another OSS app, FSNotes, and we discovered today somebody release their own build of the code on the App Store (iOS only, listed as free) which is a little concerning

[2019-02-05 14:13] aonez commented on #100
Both iOS and Mac App Store's are full of clones, it's really very sad and as far as my experience can tell impossible to get rid of them.

[FSNotes](https://itunes.apple.com/app/fsnotes/id1277179284) seems like a very well done app 👍🏼

[2019-02-05 14:31] chrsjhnsn commented on #307
Keka won't close windows for me after decompressing no matter what. I've tried toggling "Close Keka When No Windows are Open", using the main branch download, using the dev "autoquit" branch listed above, and setting these two variables:

[code]

Kind of at a loss. I love how powerful keka is, but hate that it takes over my screen any time I unarchive something.

[2019-02-05 14:38] aonez commented on #307
@chrsjhnsn could you remove the Keka preferences (close Keka first) and try the [Keka-autoquit](
https://github.com/aonez/Keka/releases/download/dev-test-builds/Keka-autoquit.7z) again? If it works, you can delete the preferences again and try the stable version.

To remove the preferences using the terminal:
[code]

If it does not work I'll make a custom build to get some logs, if it is ok.

[2019-02-05 15:00] chrsjhnsn commented on #307
@aonez that didn't do it on it's own, but helped get me there. after removing the prefs, Keka-autoquit was still not autoquitting. Rerunning the terminal boolean commands for toggling off Growl and for allowing Growl to block exit fixed it perfectly though.

Thanks so much. Amazing utility. Really glad it works so smoothly now.

[2019-02-05 15:03] chriselden commented on #362
oh i have to restart it to get the first lines. (but i think it's the same for each parts?)
i will do it.
yep the whole thing is about >100GB. i regularly have this kind of files.
i have 6,2TB free on this HD

[2019-02-05 15:11] aonez commented on #307
@chrsjhnsn glad it works now! Note that `UseGrowl` can be enabled/disabled in the Keka preferences, is the "Enable Notification Center integration" check. If this one is disabled, `GrowlBlocksExit` is ignored, because there will be no notifications to wait for.

If you have time to test, it will be interesting to see if enabling both `UseGrowl` and `GrowlBlocksExit` causes the issue again. Note th

[2019-02-05 15:15] megadr01d commented on #307
@chrsjhnsn Starting from OS X Mavericks, I think, app preferences are cached and even after deleting them you need to reboot.
I suspect the Terminal hidden settings for Growl were not necessary, since I never applied them and the autoquit dev build worked just fine, out of the box.
For peace of mind, if you want to try it, delete all Keka preferences again, reboot and try the autoquit build again.

[2019-02-05 15:18] aonez commented on #362
@chriselden if you give Keka Desktop file access (Keka - Preferences - File access -> Add your Desktop to the list) it will create a file named `Keka-log.log` in your desktop with all the future logs.

You can also try to extract the files using the terminal:

[code]

Let me know what `Keka-log.log` &/or the Terminal operation says.

[2019-02-05 15:21] aonez commented on #307
@megadr01d you're right, I usually just kill the `cfprefsd` processes but restarting might be safer.

[2019-02-05 15:36] aonez commented on #362
I forgot to ask if those files are public or you can share them with me?

[2019-02-05 15:37] chriselden commented on #362
The first lines:

par défaut	16:03:33.852256 +0100	launchservicesd	CHECKIN:0x0-0x119119 35285 com.aone.keka
par défaut	16:03:33.930947 +0100	Keka	Updating user defaults from 3248...
par défaut	16:03:33.933511 +0100	Keka	Dev mode enabled
par défaut	16:03:33.940778 +0100	Keka	Dev reader mode enabled
par défaut	16:03:33.942424 +0100	Keka	Running on OS X/macOS version 10.13.6 (assemblage 17G5019)
par

[2019-02-05 15:37] chriselden commented on #362
i can share it with you but in a private way

[2019-02-05 15:46] chriselden commented on #362
i'm wondering if it's a problem because of APFS?

[2019-02-05 15:47] aonez commented on #362
In the logs I don't see the error cause. I don't think it's because APFS, but could be. Can you send me a link to the files to info@keka.io?

[2019-02-05 15:50] chriselden commented on #362
i have to upload it first... would take some times:)

[2019-02-05 15:55] aonez commented on #362
Would be interesting to check the MD5 or SHA signature of this files, if the source shared them with you. Maybe some of those 15 parts are corrupted. This is common in downloaded parted files.

If you want to try the extraction with the Terminal, here the updated line with your real paths:

[code]

[2019-02-05 15:58] chriselden commented on #362
i'm extracting with terminal.
I can check, but i am theoricaly sure the files are ok. Others users who took them from the same source, doesn't seems to get any problem. (or they don't tryed to unrar them? i can't believe that)

[2019-02-05 16:01] aonez commented on #362
I mean that if you downloaded those files, maybe some were corrupted during the download process, so downloading them again will be needed. Maybe this will be quicker, just test the files:

[code]

[2019-02-05 18:14] chriselden commented on #362
Great news!! it's 100% working when extracting with terminal!!

[2019-02-05 23:11] aonez commented on #362
Glad to hear that! If you can share them with be will be very helpful to try to replicate the issue :)

[2019-02-06 06:18] chriselden commented on #362
ok i will upload them

[2019-02-13 09:16] aonez opened #363 "Warning when using AES on ZIP"
As suggested via mail by Bruce, warn the users (at least the first time) when using AES-256 on ZIP that it will be not compatible with most OSs without a third party app.

[2019-02-13 09:18] aonez opened #364 "Windows compatible mode"
As suggested via mail by Bruce, add a "Windows compatible mode" that will limit the use of functions not compatible by default with a Windows computer, such as AES-256 and even limit formats.

[2019-02-13 12:49] Soteyy opened #365 "Feature request: Turn AutoUpdate on/off in settings or in plist"
With Keka version 1.1.11, it only asks to turn on AutoUpdates when first opening it. I don't see any options to toggle that setting in any preferences, would be cool to have!

[2019-02-14 12:34] viniciusbig commented on #325
Sorry guys.
I've updated my keka version and this error is no longer happening.

[2019-02-14 12:35] viniciusbig commented on #224
Yes! Thanks!
I've updated Keka here and now it's working properly

[2019-02-17 07:08] big610 opened #366 "Feature Request: Extract .r00"
Feature Request: Extract .r00
Please add ability to extract .r00. Thank you.

[2019-02-17 07:32] ganl opened #367 "Exclude version control information directories such as .git , .svn"
just like this：
![image](https://user-images.githubusercontent.com/11937688/52909814-39bcca80-32c9-11e9-8ae3-2b943af9c1e7.png)

[2019-02-17 12:43] TCB13 commented on #123
Can't we already get an un-sandbox version as Archiver did here https://github.com/aonez/Keka/issues/295 ?

Sorry for bothering you again about this @aonez .

[2019-02-18 14:11] aonez commented on #367
A custom list would be better with some pre-made examples for repositories, Xcode projects, and so on. Thanks @ganl!

[2019-02-20 03:05] Shonke commented on #100
and this: [eZip](https://ezip.awehunt.com/?locale=en-US)

[2019-02-21 16:40] anosidium opened #368 "British English Localisation"
I would like to localise the software into British English. I am aware that it is already in English but it is actually American English. It annoys me that American English is considered the default English when English actually come from England.

The Base.Ipoj is (American) English but I need en-GB.Ipoj for British English.

Would you be willing for this particular localisation?

[2019-02-21 17:50] gingerbeardman commented on #368
What words or phrases are American English?

(I'm also English and don't have a problem with the current localisation)

[2019-02-22 04:55] kyle95wm opened #369 "Preferences don't stick when closed"
# Workaround

If you have this issue please try the steps at [this comment](https://github.com/aonez/Keka/issues/369#issuecomment-466950445).

### Original issue

I seem to be experiencing an issue with Keka, where setting the preferences won't save them when Keka is closed. What can I do to fix this? I've already tried uninstalling via AppZapper and reinstalling it via the website.

[2019-02-22 05:58] huamiao opened #370 "The advanced settings window would be displayed when I called "extract using keka" from service entry"
Please check the attachment for how it happens.

And you can find the configuration entries in keka_settings.txt (btw, I didn't touch any config items manually)

[keka_settings.txt](https://github.com/aonez/Keka/files/2892548/keka_settings.txt)

![screen recording 2019-02-22 at 13 34 05](https://user-images.githubusercontent.com/1251303/53222652-7877c980-36a9-11e9-8604-ca0643d9ffb7.gif)

[2019-02-22 08:47] aonez commented on #369
Are you using the latest version? All the preferences don't stick, or just some?

[2019-02-22 08:50] aonez commented on #368
@gingerbeardman just was thinking about that. The current localization is mainly made by me, I'm not American or English.

All that said, there's always room for improvement @anosidium.

[2019-02-22 08:59] anosidium commented on #368
Looking through Base.lproj files, some texts can be rewritten in British English. Here are some samples:

Can be rewritten as:

Another example:

Can be rewritten as:

Etc.

So I am interested in doing that. @aonez  What is your say? Will there be an en-GB.Ipoj for British English?

[2019-02-22 09:05] aonez commented on #370
@huamiao thanks for the preferences and the preview!
Can you check it is fixed in this version: [Keka-welcome.7z](https://github.com/aonez/Keka/releases/download/dev-test-builds/Keka-welcome.7z)

This one is labeled as version 1.1.12, so you can double check is the one being opened.

[2019-02-22 09:12] aonez commented on #368
This one I buy. Now I see why the corrector always tries to change the z with an s.
The Trash one no, simply because it refers the Mac Trash and not a generic trash/bin.

![image](https://user-images.githubusercontent.com/480163/53231760-fb892780-3689-11e9-9fbb-b010d463282a.png)

Sure, I'm up to a en-GB addition!

[2019-02-22 09:16] anosidium commented on #368
I am surprised that it spelt as Trash.

https://www.reddit.com/r/apple/comments/8wu3nn/trash_renamed_to_bin_in_mojave/

https://twitter.com/greyham/status/1011942261469245440?lang=en

Other people on the Internet said that in macOS Mojave, Apple has renamed it as Bin. I do not know why it is spelt as Trash for you.

[2019-02-22 09:26] huamiao commented on #370
I've tried and it works like a charm.

[2019-02-22 09:28] aonez commented on #370
Glad to hear that! If you're using the WEB version you can keep using that build. Let me know if you reproduce the bug again 👍

[2019-02-22 09:52] aonez commented on #359
From what I've seen in the @gingerbeardman link, seems like a fairly common ZIP expecting a folder-file structure inside. @SimonYork let me know what was the issue.

[2019-02-22 09:57] kyle95wm commented on #369
The version I'm running is Version 1.1.11 (3248)

None of my preferences stick (i.e - home access always gets un-set)

[2019-02-22 10:02] aonez commented on #369
Wow. Even if you already used an uninstaller app, please close Keka and remove all the configuration files:

[code]

You can also remove that folder manually, if needed.

If it stills with the same issue, can you open the Console.app, filter by Keka process and run some operations in Keka to see if there appears any message?

[2019-02-22 10:04] aonez commented on #368
I'll double check that one! @gingerbeardman?

[2019-02-22 11:29] anosidium commented on #368
I have submitted a British English localisation. Let me know if it is fine or need any other changes.

[2019-02-22 12:14] gingerbeardman commented on #368
I do not use Mojave, but it's Trash on High Sierra.

Not sure how you'd cope with different strings for different versions of the OS?

[2019-02-22 22:09] kyle95wm commented on #369
So the first solution didn't work. I saw messages like these in the console:

```Couldn't write value for key FinderAfterCompression in CFPrefsPlistSource<0x600002642840> (Domain: com.aone.keka, User: kCFPreferencesCurrentUser, ByHost: No, Container: (null), Contents Need Refresh: No): setting preferences outside an application's container requires user-preference-write or file-write-data sandbox

[2019-02-24 22:46] kyle95wm commented on #369
Are there any updates on this?

[2019-02-25 09:02] aonez commented on #369
@kyle95wm this happened always for you? Where're you running Keka from? The default Applications folder or another folder?

[2019-02-25 09:04] aonez commented on #369
This issue remembers me of #226, but this one was fixed simply by removing the folder, with the command I've already shared to you.

[2019-02-25 09:42] kyle95wm commented on #369
This has been happening to me ever since I installed Keka. I'm running it from the Applications folder like any other app.

[2019-02-25 10:02] aonez commented on #369
I suppose you've already restarted your Mac, since Keka was installed. If not, try that one. I'm not sure what's happening here, clearly the system is banning Keka from using the sandbox container.

Please double check Keka is properly running from the Applications folder, and it is not running in translocation (from a temporary folder). Just open the `Activity Monitor.app`, search Keka, double cl

[2019-02-25 10:48] aonez commented on #123
@TCB13 not that I recommend that, but you can un-sandbox Keka yourself. Just create an entitlements file setting off the sandbox, and code-sign Keka with that file.

[code]

Replace the `Signature` with your certificate name. You can create one if needed using the Keychain.
The entitlements XML should contain something like this:
[code]

This only works for the WEB version.

[2019-02-25 12:16] aonez opened #373 "Umlaut in ZIP passwords"
As reported [via the forum](https://forum.keka.io/viewtopic.php?t=2630) by Mangokaefer, password protected files with a password that contains umlauts are not properly extracted.

Tested with `ÄÖÜ` in RAR and ZIP.
- ~RAR test file: [test.rar.zip](https://github.com/aonez/Keka/files/2945014/test.rar.zip)~
- Need a ZIP test file

---

- [x] Fixed for RAR in version 1.1.13

[2019-02-25 21:51] kyle95wm commented on #369
This is the output I get from Activity Monitor:

[code]

[2019-02-25 21:55] kyle95wm commented on #369
Okay, just an update. Recently my Mac lost power. I tried saving my preferences by opening the Keka app directly (instead of using it from an archiving job)  and it seems to work. I even rebooted the Mac for good measure and it works. Not sure what was causing it.

[2019-02-26 04:24] sivan commented on #369
Same issue, works for me.

[2019-02-26 07:59] #360 closed

[2019-02-26 08:22] aonez commented on #307
Just released 1.1.12, @megadr01d your issue is fixed there. I'm leaving this one open anyway.

[2019-02-26 08:23] aonez commented on #370
@huamiao just released version 1.1.12 with this issue fixed! Thanks again for the feedback!

[2019-02-26 08:23] #370 closed

[2019-02-28 12:52] #361 closed

[2019-02-28 15:13] gingerbeardman opened #374 "Esoteric Japanese self-expanding archives"
Here are a few self-expanding archives of old Japanese games.

These are more of a curiosity than anything else.

If Keka fails to extract, I try the following:
1. _Archiver.app_ (macOS) and/or _The Unarchiver.app_ (macOS)
2. _7z.exe_ (Windows)

---
# LZH

- [hanaw310.exe.zip](https://github.com/aonez/Keka/files/2915549/hanaw310.exe.zip)
  - Archiver.app (macOS) handles this OK
  - ![screen shot 2

[2019-02-28 15:36] gingerbeardman opened #375 "Archives with undetected character sets"
(I have to zip up the LZH archives to add them to GitHub)

# Japanese
- [bakaha10.lzh.zip](https://github.com/aonez/Keka/files/2915676/bakaha10.lzh.zip) (Archiver.app worked OK)
- [hanaf131.lzh.zip](https://github.com/aonez/Keka/files/2915696/hanaf131.lzh.zip) (Archiver.app worked OK)
- [hatiha10.lzh.zip](https://github.com/aonez/Keka/files/2915697/hatiha10.lzh.zip) (Archiver.app worked OK)
- [kik

[2019-03-01 09:51] aonez commented on #375
Thanks @gingerbeardman, the charset detection must be improved.

My results where different though. In my tests:
- `bakaha10`: TUA asks encoding, Archiver and Keka use bad encoding
- `hanaf131`: TUA asks encoding, Archiver and Keka use bad encoding
- `hatiha10`: TUA and Archiver ok, Keka uses bad encoding
- `kikyo11`: Archiver ok, TUA guesses correct encoding, Keka uses bad encoding
- `Sengoku-Han

[2019-03-01 10:04] gingerbeardman commented on #375
Let's go with your test results. I'm not sure why mine were different.

[2019-03-01 10:12] aonez commented on #374
Thanks @gingerbeardman! I had different results as in #375. All but `hanasol30` where extracted in my tests.

- `hanaw310`: Extracted with Keka, TUA and Archiver ok
- `otohana110a`: Extracted with Keka, TUA and Archiver
- `usahana104`: Extracted with Keka, bad encoding (failed with TUA and Archiver)
- `tyq01`: Extracted with Keka, bad encoding (TUA and Archiver ok)
- `hanasol30`: Failed with Keka,

[2019-03-01 10:19] aonez commented on #375
Just realized Keka has LHA extraction support but no format detection. I'm fixing that.

[2019-03-01 10:28] #359 closed

[2019-03-01 16:55] iDjay commented on #362
I still have the same problem with the latest Keka v.1.1.12. It works after restarting the unbar process a couple of times.

[2019-03-01 18:14] gingerbeardman commented on #374
Great! Sorry for my incomplete testing.

[2019-03-02 09:50] gingerbeardman commented on #375
Just an addition to this, whilst Keka extracts these correctly, the incorrect charset is used:

- [tyq01.exe.zip](https://github.com/aonez/Keka/files/2915574/tyq01.exe.zip)
  - <img width="163" alt="screen shot 2019-03-02 at 09 47 44" src="https://user-images.githubusercontent.com/49612/53680247-9e682400-3cd0-11e9-9f51-2d98dc6bb13e.png">
- [usahana104.exe.zip](https://github.com/aonez/Keka/files/2

[2019-03-02 09:55] gingerbeardman commented on #374
Is it possible my testing was done with an older Keka that would not expand these? I only upgraded to Keka 1.1.12 afterwards

[2019-03-02 14:31] sdivae opened #376 "Unable to extract AES256 zip files - no password prompt"
I am trying to extract a medical record that was provided as a zip file with AES 256 encryption and it was recommended that I use keka. However when I try to extract with keka, it throws the following error and **does not prompt the password** for the file.

![image](https://user-images.githubusercontent.com/39887022/53683354-c184da80-3cb4-11e9-85e6-6674c6125f10.png)

[2019-03-03 11:33] iDjay opened #377 "issue #362 not fixed"
I still have the same problem with the latest Keka v.1.1.12. It works after restarting the unrar process a couple of times.

_Originally posted by @iDjay in https://github.com/aonez/Keka/issues/362#issuecomment-468733364_

[2019-03-03 12:24] aonez commented on #377
Closing in favour of #362

[2019-03-03 12:24] #377 closed

[2019-03-03 12:25] aonez commented on #362
@iDjay can you share the files that fail?

[2019-03-03 12:33] aonez commented on #376
Hi @sdivae, please try the following:

1. Close Keka
2. Open the Terminal.app and execute the following command:
[code]
3. Try extracting the file again

If this works, it will be very helpful if you can execute this code in the Terminal.app and let me know what it says:
[code]

[2019-03-03 12:36] iDjay commented on #362
@aonez it's not a specific file, it happens on various files, but I'll send you the next file the issue appears!

[2019-03-03 12:37] aonez commented on #362
Thanks @iDjay! That would be awesome :)

[2019-03-03 12:39] aonez commented on #374
No changes regarding this issue were made recently, so I'm not sure why they failed for you before. Are they failing now?

[2019-03-03 12:44] aonez commented on #375
Thanks @gingerbeardman! Already noted that on https://github.com/aonez/Keka/issues/374#issuecomment-468614633.

It's incredible how many LHA variations there're. Do you think Japanese people still using it for compression? Or are those old files (like golden game gems) that still compressed in that format?

[2019-03-03 12:50] gingerbeardman commented on #374
No, but let's mark it down to user error on my part.

[2019-03-03 12:53] gingerbeardman commented on #375
LZH just really took off in Japan, because it was created by a Japanese guy. It's still used widely, in fact Windows 7 Japanese comes with LZH folder support!

[2019-03-03 15:34] aonez commented on #362
This bot is playing with me

[2019-03-05 19:22] zstekovic opened #378 "RAR extraction fail"
Hello,
I have problem with extraction of big (1.7GB) RAR file.
File have bunch of small EPS/CDR files in archive.
7Zip does not have this problem.

---
Error code 13 using "unrar"
Unknown error
---

[2019-03-05 19:42] aonez commented on #378
Is it possible that you share that file with me?

[2019-03-05 19:48] aonez commented on #378
Probably this is a duplicate of #362. Can you test if this Keka build works with that file:

[Keka-unrar570.7z](https://github.com/aonez/Keka/releases/download/dev-test-builds/Keka-unrar570.7z)